@charset "UTF-8";
/* CSS Document */

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; text-align: center; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* My CSS */
html { box-sizing: border-box; font-size: 62.5%; }
body { background-color: #ffffff; }
*, *:before, *:after { box-sizing: inherit; }
.full-page { width: 100vw; height: 100vh; background-color: #f2d999; background-image: radial-gradient(#fff1b4, #f2d999); display: flex; flex-direction: column; }
.logo { width: 100vw; height: 18vh; display: flex; justify-content: center; align-items: center; text-align: center; }
.logo img { width: 450px; height: 90px; }
.info-404 { width: 100vw; height: 85vh; display: flex; flex-direction: row; }
.full-page-left { width: 35vw; height: 85vh; display: flex; justify-content: flex-end; align-items: center; }
.full-page-left img { width: 300px; height: 500px; }
.full-page-right { width: 65vw; height: 85vh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; }
.full-page-right h1 { font-family: 'Oswald', sans-serif; color: #5E240C; font-size: 30rem; font-weight: 500; }
.full-page-right p { font-family: 'Ubuntu', sans-serif; color: #EA9B50; font-size: 2.5rem; font-weight: 500; margin-top: 2rem; }
.full-page-right a { display: block; width: 200px; height: 40px; margin-top: 2rem; font-family: 'Ubuntu', sans-serif; font-size: 1.5rem; font-weight: 300; line-height: 40px; color: #ffffff; text-align: center; background: #8F7538; text-decoration: none; border-radius: 5px; }
.full-page-right a:hover { background-color: #715722; color: #D7B87A; }

@media only screen and (max-width : 992px) {
	.full-page-left img { width: 240px; height: 400px; }
	.full-page-right h1 { font-size: 24rem; }
	.full-page-right p { font-size: 2rem; }
}

@media only screen and (max-width : 768px) {
	.full-page { height: auto; }
	.logo img { width: 360px; height: 72px; }
	.info-404 { height: auto; flex-direction: column; }
	.full-page-left { width: 100vw; height: auto; justify-content: center; }
	.full-page-left img { width: 180px; height: 300px; margin: 2rem auto; }
	.full-page-right { width: 100vw; height: auto; margin-bottom: 2rem; }
	.full-page-right h1 { font-size: 16rem; }
	.full-page-right p { font-size: 1.5rem; }
}

@media only screen and (max-width : 480px) {
}
