@charset "UTF-8";
/* CSS Document */

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	text-align: center;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==========================================================================
   MY CSS
   ========================================================================== */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	background-color: #4c4942;
}
.clear {
	width: 100%;
	height: 1px;
	clear: both;
}

/* HEADER */
.header {
	width: 100%;
	height: 100px;
	background-color: #ecc452;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.logo {
	display: flex;
	width: 23vw;
	height: 100px;
	padding: 0.89vw 2vw;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.logo img {
	width: 100%;
	object-fit: contain;
}
nav {
	width: 67vw;
	height: 100px;
}
ul.menu {
	height: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}
ul.menu li {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-left: 1px solid #ffec78;
	margin: 0;
}
ul.menu li:last-child {
	border-right: 1px solid #ffec78;
}
ul.menu li a {
	display: flex;
	font-family: "Oswald", sans-serif;
	color: #252320;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
ul.menu li a:hover {
	background-color: #caa431;
	background-image: linear-gradient(#ffe773, #ecc452);
}
ul.menu li a.selected {
	color: #ffffff;
	font-weight: 500;
	background-color: #ffe773;
	background-image: linear-gradient(#ecc452, #caa431);
}
.topnav {
	display: none;
}
.social {
	width: 10vw;
	height: 100px;
	padding: 1.3vw 2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.social a {
	display: block;
}
.social a:first-child {
	margin-right: 0.5vw;
}
.social a img {
	width: 2.5vw;
	height: auto;
}
.social a.language {
	display: block;
	margin-left: 1vw;
}
.social a.language img {
	width: 1.5vw;
	height: auto;
}

/* CONTAINER */
.container {
	width: 1200px;
	height: auto;
	min-height: 500px;
	background-color: #171615;
	margin: 50px auto;
	-webkit-box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.5);
}
.content-container {
	background-color: #ecc452;
	padding: 80px 120px;
}
.text-container {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 25px 50px -10px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 25px 50px -10px rgba(0, 0, 0, 1);
	box-shadow: 0px 25px 50px -10px rgba(0, 0, 0, 1);
	padding: 40px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	line-height: 1.5em;
	color: #858074;
	text-align: left;
}
/* AQUI TERMINA O TOPO DO LAYOUT.BLADE */

/* BLOG */
.blog-post {
	width: 100%;
	height: auto;
	margin: 40px;
}
.blog-post-titulo {
}
.blog-post-titulo a {
	font-family: "Unica One", cursive;
	font-size: 4rem;
	line-height: 4rem;
	letter-spacing: -0.3rem;
	color: #ff4c5c;
	text-transform: uppercase;
	text-decoration: none;
}
.blog-post-titulo a:hover {
	color: #ff7f8b;
}
.blog-post-titulo-read h1 {
	font-family: "Unica One", cursive;
	font-size: 4rem;
	line-height: 4rem;
	letter-spacing: -0.3rem;
	color: #ff4c5c;
	text-transform: uppercase;
	text-decoration: none;
}
.blog-info {
	width: 100%;
}
.blog-post-data,
.blog-post-autor {
	display: inline-block;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.25rem;
	color: #949494;
	margin: 8px 0 16px;
	padding: 0 5px;
	border: 1px solid #949494;
	font-weight: 300;
}
.blog-post-data {
	left: 0;
	float: left;
}
.blog-post-autor {
	right: 0;
	float: right;
}
.blog-post-imagem {
	width: 100%;
	height: auto;
}
.blog-post-imagem img {
	width: 100%;
	height: auto;
}
.blog-post-imagem a:hover img {
	opacity: 0.8;
}
.blog-post-texto-start {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.75rem;
	line-height: 2rem;
	color: #424242;
	font-weight: 400;
	margin: 20px 0;
}
.blog-post-texto {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.75rem;
	line-height: 2.5rem;
	color: #424242;
	font-weight: 300;
	margin: 20px 0;
	text-align: justify;
}
.blog-post-texto h2 {
	font-family: "Ubuntu", sans-serif;
	font-size: 2rem;
	color: #424242;
	font-weight: 700;
	margin: 20px 0;
}
.blog-post-texto h3 {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.8rem;
	color: #424242;
	font-weight: 500;
	margin: 20px 0;
}
.blog-post-texto h4 {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
	color: #424242;
	font-weight: 400;
	margin: 20px 0;
	text-decoration: underline;
}
.blog-post-texto p,
.blog-post-texto ul {
	margin-bottom: 2rem;
}
.blog-post-texto ol {
	list-style-type: decimal;
	padding: 0 20px 20px;
}
.blog-post-texto ol li {
	margin: 0 0 10px 20px;
}
.blog-post-texto ul.topics {
	list-style-type: disc;
	padding: 0 20px 20px;
}
.blog-post-texto ul.topics li {
	margin: 0 0 10px 20px;
}
.blog-post-tags {
	width: 100%;
	height: auto;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.25rem;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	margin: 10px auto;
}
.blog-post-tag {
	display: inline-block;
	background-color: #666666;
	padding: 0 8px;
	margin: 5px 10px 0 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
}
a.blog-post-mais,
a.blog-post-voltar {
	display: block;
	width: 200px;
	height: auto;
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	color: #1c1a13;
	margin: 30px auto;
	background-color: #ecc452;
	padding: 5px 20px;
	text-decoration: none;
}
a:hover.blog-post-mais,
a:hover.blog-post-voltar {
	opacity: 0.8;
}
ul.pagination {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
}
ul li.page-item {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin: 0 5px;
}
ul li.active {
	background-color: #3f5aa4;
	color: #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
}
a.page-link {
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-decoration: none;
	color: #666666;
	display: inline-block;
}
a:hover.page-link {
	color: #ff5000;
	border: 1px solid #dddddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
}
.sharing-buttons {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	margin: 24px auto;
	align-items: center;
}

/* FORMATAÇÃO PARA OS TEXTOS DO BLOG */
.destaque {
	background-color: #ecce76;
	font-weight: 400;
	padding: 2px;
}
.bold {
	font-weight: 400;
}
.blog-post-texto a {
	color: #ff1941;
	text-decoration: none;
	font-weight: 400;
}
.blog-post-texto a:hover {
	color: #ff7f96;
}
p.citacao {
	padding: 20px 40px;
	font-family: "Cormorant SC", Georgia, serif;
	font-size: 1.75em;
	line-height: 1.5em;
}

/* ==========================================================================
   ADMIN
   ========================================================================== */

.admin-top {
	width: 100%;
	height: auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: "Helvetica", sans-serif;
	font-size: 0.8em;
	color: #cac3a7;
}
.admin-top-user {
	display: flex;
	margin: 0 20px;
}
.admin-top-home-button-a {
	text-decoration: none;
	color: #000000;
}
.admin-top-home {
}
.admin-top-button button {
	background-color: #cac3a7;
	border: none;
	border-radius: 4px;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: #000000;
	margin: 0 20px;
	padding: 5px 20px;
}
.admin-top-home-button {
	display: flex;
	background-color: #cac3a7;
	border: none;
	border-radius: 4px;
	font-family: "Helvetica", sans-serif;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	color: #000000;
	margin: 0 20px;
	padding: 5px 20px;
}
.admin-top-logout {
	display: flex;
}
.admin-titulo {
	font-family: "Unica One", cursive;
	font-size: 3.25em;
	text-align: center;
	color: #ecc452;
	text-transform: uppercase;
}
.create-errors {
	width: 100%;
	height: auto;
	margin: 20px auto;
	padding: 20px 40px;
	background-color: #d40e3d;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}
.admin-content {
	width: 100%;
	height: auto;
	margin: 40px;
}
ul.show-list {
	text-align: left;
	margin: 40px auto;
}
ul.show-list li {
	margin: 0 0 20px 40px;
}
ul.show-list li a {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #008aff;
	text-decoration: none;
}
ul.show-list li a:hover {
	color: #73808c;
}
form.admin-form {
	position: relative;
	width: 100%;
	height: auto;
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #8a8a8a;
}
fieldset {
	width: 100%;
	height: auto;
	padding: 40px;
	background-color: #eeeeee;
	margin: 40px auto 0;
	border-radius: 4px;
}
legend {
	font-weight: 700;
	background-color: #ffffff;
	padding: 5px 20px;
	border-radius: 4px;
}
ul.inserir-artigo-form li {
	text-align: left;
	margin-bottom: 20px;
}
label {
	margin-left: 10px;
	font-size: 0.8em;
	font-weight: 400;
}
ul.inserir-artigo-form input,
ul.inserir-artigo-form textarea {
	width: 100%;
	border: none;
	background-color: #2e2e2e;
	margin-bottom: 20px;
	padding: 5px 10px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 1em;
	text-align: left;
	color: #b1b1b1;
}
ul.inserir-artigo-form input {
	height: 40px;
}
ul.inserir-artigo-form textarea.textarea-pequena {
	height: 100px;
}
ul.inserir-artigo-form textarea.textarea-media {
	height: 200px;
}
ul.inserir-artigo-form textarea.textarea-grande {
	height: 400px;
}
.form-button {
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.resultado {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0;
	background-color: #ecc452;
	color: #252320;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-button button {
	width: 360px;
	height: 40px;
	margin: 0 auto;
	background-color: #e99605;
	border: none;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 1em;
	text-align: center;
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.5);
}
.form-button button:hover {
	background-color: #000000;
	color: #e99605;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
}
.admin-form-button {
	width: 100%;
	text-align: center;
}
.admin-form-button button {
	background-color: #4284d4;
	border: none;
	border-radius: 4px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	text-align: center;
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	padding: 20px 40px;
}
.admin-form-button button:hover {
	background-color: #000000;
	color: #e99605;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}
.delete-button button {
	background-color: #ff1b36;
}

/* FOOTER
   ========================================================================== */
.footer {
	width: 100%;
	height: 80px;
	background-color: #ecc452;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	color: #5e4e21;
}
.footer-2,
.footer-3 {
	font-weight: 400;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Maximum Width: 1200px;
   ========================================================================== */
@media only screen and (max-width: 1200px) {
	body {
		background-image: none;
	}
	/* HEADER */
	.header {
		height: 70px;
	}
	.logo {
		width: 23vw;
		height: 70px;
		padding: 0.89vw 2vw;
	}
	.logo img {
		width: 100%;
		object-fit: contain;
	}
	nav {
		height: 70px;
	}
	ul.menu {
		height: 70px;
	}
	.social {
		height: 70px;
		padding: 1.3vw 2vw;
	}
	.container {
		width: 990px;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.content-container {
		padding: 40px 60px;
	}
	.blog-post-titulo a,
	.blog-post-titulo-read h2 {
		font-size: 2.2em;
	}
}

/* Maximum Width: 992px;
   ========================================================================== */
@media only screen and (max-width: 992px) {
	body {
		background-image: none;
	}
	/* HEADER */
	.header {
		height: 60px;
	}
	.logo {
		width: 23vw;
		height: 60px;
		padding: 0.89vw 1vw;
	}
	nav {
		width: 67vw;
		height: 60px;
	}
	ul.menu {
		height: 60px;
	}
	ul.menu li a {
		font-size: 1.4rem;
	}
	.social {
		width: 10vw;
		height: 60px;
		padding: 1.3vw 0.5vw;
	}
	.social a:first-child {
		margin-right: 0.5vw;
	}
	.social a img {
		width: 3.5vw;
	}
	.container {
		width: 760px;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.content-container {
		padding: 30px 40px;
	}
	.text-container {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding: 20px 30px;
	}
	.blog-post-titulo a,
	.blog-post-titulo-read h2 {
		font-size: 2em;
	}
	ul.menu li {
		margin: 0 20px;
	}
	ul.menu li a {
		font-size: 0.8em;
		letter-spacing: normal;
	}
}

/* Maximum Width: 768px;
   ========================================================================== */
@media only screen and (max-width: 768px) {
	body {
		background-image: none;
	}
	/* HEADER */
	.header {
		height: auto;
		flex-direction: column;
	}
	.logo {
		width: 100%;
		height: auto;
		padding: 2vw 10vw;
	}
	nav {
		display: none;
	}
	.social {
		width: 100%;
		height: auto;
		padding: 2vw auto;
	}
	.social a:first-child {
		margin-right: 2vw;
	}
	.social a img {
		width: 8vw;
	}
	.topnav {
		display: inherit;
		overflow: hidden;
		background-color: #ecc452;
		height: 60px;
	}
	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: #252320;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		border-bottom: 1px solid #ffec78;
		font-family: "Ubuntu", sans-serif;
		font-weight: 700;
		font-size: 1.5rem;
		text-transform: uppercase;
	}
	.topnav a:first-child {
		border: none;
	}
	/* Change the color of links on hover */
	.topnav a:hover {
		color: #f4314c;
	}
	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
		display: none;
	}
	/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		position: absolute;
		left: 0;
		top: 0;
		float: left;
		display: block;
		font-size: 3rem;
		border: none;
	}
	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	.topnav.responsive {
		position: relative;
		height: auto;
	}
	.topnav.responsive a.icon {
		position: absolute;
		left: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
	}
	.container {
		width: 480px;
		min-height: 0;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.content-container {
		padding: 20px 30px;
	}
	.blog-post-titulo a {
		letter-spacing: -0.15rem;
		line-height: 2rem;
	}
	.blog-post-titulo-read h1 {
		letter-spacing: -0.15rem;
		line-height: 2rem;
	}
	.blog-post-texto-start {
		font-size: 1.5rem;
		line-height: 1.75rem;
	}
	.blog-post-tags {
		font-size: 0.7em;
	}
	p.citacao {
		padding: 10px 20px;
		font-size: 1.2em;
		line-height: 1em;
	}
	ul.pagination {
		font-size: 1rem;
	}
	ul li.page-item {
		width: 24px;
		height: 24px;
		line-height: 24px;
		margin: 0 4px;
	}
	a.page-link {
		width: 24px;
		height: 24px;
		line-height: 24px;
	}
	/* FOOTER */
	.footer {
		font-size: 1.5rem;
		height: auto;
		flex-direction: row;
		padding: 20px 10px;
	}
}

/* Maximum Width: 480px;
   ========================================================================== */
@media only screen and (max-width: 480px) {
	body {
		background-image: none;
	}
	.container {
		width: 360px;
		min-height: 0;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.blog-post-titulo a {
		font-size: 2rem;
		letter-spacing: -0.15rem;
		line-height: 2rem;
	}
	.blog-post-titulo-read h1 {
		font-size: 2rem;
		letter-spacing: -0.15rem;
		line-height: 2rem;
	}
	.blog-post {
		margin: 15px auto;
	}
	.blog-post-data,
	.blog-post-autor {
		font-size: 1rem;
		margin: 8px 0 16px;
		padding: 0 2px;
	}
	.blog-post-texto-start {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}
	.blog-post-texto {
		font-size: 1.25rem;
		line-height: 1.5rem;
	}
	.blog-post-tags {
		font-size: 0.6em;
	}
	p.citacao {
		padding: 10px 20px;
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
	ul.pagination {
		font-size: 1rem;
	}
	ul li.page-item {
		width: 20px;
		height: 20px;
		line-height: 20px;
		margin: 0 4px;
	}
	a.page-link {
		width: 20px;
		height: 20px;
		line-height: 20px;
	}
	/* FOOTER */
	.footer {
		height: auto;
		flex-direction: column;
		padding: 20px;
	}
	.footer-2 {
		display: none;
	}
	.footer-3 {
		margin-top: 10px;
	}
}
