@charset "UTF-8";
/* CSS Document */

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; text-align: center; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* My CSS */
html { box-sizing: border-box; font-size: 62.5%; }
body { background-color: #ffffff; }
*, *:before, *:after { box-sizing: inherit; }
.clear { width: 100%; height: 1px; clear: both; }

/* ### 	HEADER ### */
.header { width: 100%; height: 100px; background-color: #ecc452; display: flex; justify-content: center; align-content: center; align-items: center; }
.logo { display: flex; width: 23vw; height: 100px; padding: 0.89vw 2vw; justify-content: center; align-content: center; align-items: center; }
.logo img { width: 100%; object-fit: contain; }
nav { width: 67vw; height: 100px; }
ul.menu { height: 100px; list-style: none; margin: 0; padding: 0; display: flex; flex-direction: row; justify-content: center; align-content: center; }
ul.menu li { display: flex; flex-grow: 1; justify-content: center; align-content: center; align-items: center; border-left: 1px solid #ffec78; margin: 0; }
ul.menu li:last-child { border-right: 1px solid #ffec78; }
ul.menu li:hover {  }
ul.menu li a { display: flex; font-family: 'Oswald', sans-serif; color: #252320; font-size: 1.6rem; font-weight: 400; text-transform: uppercase; text-decoration: none; justify-content: center; align-content: center; align-items: center; width: 100%; height: 100%; }
ul.menu li a:hover { background-color: #caa431; background-image: linear-gradient(#ffe773, #ecc452); }
.topnav { display: none; }
.social { width: 10vw; height: 100px; padding: 1.3vw 2vw; display: flex; flex-direction: row; justify-content: center; align-content: center; align-items: center; }
.social a { display: block; }
.social a:first-child { margin-right: 0.5vw; }
.social a img { width: 2.5vw; height: auto; }
.social a.language { display: block; margin-left: 1vw; }
.social a.language img { width: 1.5vw; height: auto; }

/* ### 	MAIN GRID ### */
.main-grid { display: none; }
@supports (display: grid) {
	.main-grid { width: 100%; height: 50vw; display: grid; grid-template-columns: repeat(6, 1fr); grid-template-rows: repeat(3, 1fr); grid-gap: 10px 10px; background-color: #252320; grid-template-areas: "conheca criatividade criatividade videos case case" "conheca girafa palestras palestras case case" "treinamento girafa blog escola escola motivacao"; font-family: 'Ubuntu', sans-serif; font-weight: 300; color: #ffffff; padding: 10px 0; }
	.grid-area-link { display: flex; flex-direction: row; align-items: center; justify-content: flex-start; position: relative; width: 100%; height: 100%; text-decoration: none; }
	.grid-area-link:hover { background-color: rgba(255,255,255,0.1); }
	.grid-area-link:hover .fundo-amarelo { background-color: rgba(236,196,82,0.6); }
	.grid-area-link:hover .fundo-cinza { background-color: rgba(37,35,32,0.6); }
	.grid-area p { font-family: 'Oswald', sans-serif; font-size: 1.6rem; font-weight: 500; text-transform: uppercase; }
	.grid-area { width: 100%; height: 100%; background-color: #ecc452; background-position: center center; background-repeat: no-repeat; background-size: cover; display: flex; }
	.grid-area-text { width: 100%; height: 4vw; display: flex; align-self: flex-end; align-items: center; justify-content: center; }
	.grid-area-image { width: 100%; height: 100%; display: flex; align-self: center; align-items: center; justify-content: center; }
	.case-image img { width: 20vw; height: auto; }
	.criatividade-text { align-self: flex-start; }
	.conheca { grid-area: conheca; background-image: url(../images/grid-conheca-marcos-mayer.jpg); }
	.criatividade { grid-area: criatividade; background-image: url(../images/grid-criatividade.jpg); }
	.videos-grid { grid-area: videos; background-image: url(../images/grid-videos.jpg); }
	.case { grid-area: case; background-image: url(../images/grid-case.jpg); }
	.girafa { grid-area: girafa; background-image: url(../images/grid-girafa.jpg); }
	.palestras-grid { grid-area: palestras; background-image: url(../images/grid-palestras.jpg); }
	.treinamento { grid-area: treinamento; background-image: url(../images/grid-treinamento.jpg); }
	.blog { grid-area: blog; background-image: url(../images/grid-blog.jpg); }
	.escola { grid-area: escola; background-image: url(../images/grid-escola.jpg); }
	.motivacao { grid-area: motivacao; background-image: url(../images/grid-motivacao.jpg); }
	.conheca-text, .videos-text, .palestras-text, .blog-text, .motivacao-text { background-color: rgba(236,196,82,0.8); }
	.conheca-text p, .videos-text p, .palestras-text p, .blog-text p, .motivacao-text p { color: #252320; }
	.criatividade-text, .treinamento-text, .escola-text { background-color: rgba(37,35,32,0.8); }
	.criatividade-text p, .treinamento-text p, .escola-text p { color: #ecc452; }
}

/* ### 	CRIATIVIDADE HOME ### */
.criatividade-home-area { width: 100%; height: 40vw; background-color: #ffffff; display: flex; flex-direction: row; }
.criatividade-home-text { flex: 1 1 60%; padding: 0 3vw 0 10vw; display: flex; flex-direction: column; justify-content: center; }
.criatividade-home-text p.section-title { font-family: 'Oswald', sans-serif; font-size: 3rem; font-weight: 500; text-transform: uppercase; text-align: right; }
.criatividade-home-text p { margin-bottom: 1.8rem; font-family: 'Ubuntu', sans-serif; font-weight: 400; color: #252320; font-size: 2.2rem; text-align: right; line-height: 2.8rem; }
.criatividade-home-image { background-image: url(../images/criatividade-home.jpg); flex: 1 1 40%; height: 100%; background-color: #ffffff; background-position: center center; background-repeat: no-repeat; background-size: cover; }

/* ### 	ABOUT ME HOME ### */
.about-home-area { width: 100%; height: 40vw; display: flex; flex-direction: row; background-color: #ecc452; }
.about-home-image { background-image: url(../images/marcos-mayer-montagem.jpg); flex: 1 1 40%; height: 100%; background-color: #ffffff; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.about-home-text { flex: 1 1 60%; padding: 0 10vw 0 3vw; display: flex; flex-direction: column; justify-content: center; }
.about-home-text p.section-title { font-family: 'Oswald', sans-serif; font-size: 3rem; font-weight: 500; text-transform: uppercase; text-align: left; }
.about-home-text p { margin-bottom: 1.8rem; line-height: 2.8rem; font-family: 'Ubuntu', sans-serif; font-weight: 400; color: #252320; font-size: 2.2rem; text-align: left; }

/* ### VÍDEO HOME ### */
.home-video p.section-title { font-family: 'Oswald', sans-serif; font-size: 3rem; font-weight: 500; color: #252320; text-transform: uppercase; text-align: center; padding: 2vw 0; }
.home-video { width: 100%; height: auto; display: flex; flex-direction: column; justify-content: center; align-content: center; }
.home-video-frame { width: 60%; position: relative; padding-bottom: 33.75%; /* 16:9 */ height: 0; align-self: center; }
.home-video-frame iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.home-video-text { padding: 20px 25%; }
.home-video-text p { font-family: 'Ubuntu', sans-serif; font-weight: 400; font-style: normal; font-size: 2.2rem; line-height: 2.8rem; color: #252320; text-align: left; margin-bottom: 1.8rem; }
.home-video-text a { font-weight: 400; text-decoration: none; color: #4c4942; }
.video-text a:hover { text-decoration: underline; }
.home-video { display: none; }

/* ### CALL TO ACTION ### */
.call-to-action { width: 100%; height: auto; background-color: #ffffff; display: flex; justify-content: center; align-items: center; flex-flow: column; margin-bottom: 30px; }
a.botao-cta { display: block; width: 600px; height: 60px; font-family: 'Unica One', cursive; font-size: 3.25rem; color: #ffffff; text-align: center;background: #79d4d9; /* Old browsers */ background: -moz-linear-gradient(top, #79d4d9 0%, #0faaae 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #79d4d9 0%,#0faaae 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #79d4d9 0%,#0faaae 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79d4d9', endColorstr='#0faaae',GradientType=0 ); /* IE6-9 */ text-decoration: none; text-shadow: 0px 2px 1px rgba(0, 113, 117, 1); line-height: 60px; border-radius: 5px; -webkit-box-shadow: 0px 8px 0px 0px rgba(0,91,96,1); -moz-box-shadow: 0px 8px 0px 0px rgba(0,91,96,1); box-shadow: 0px 8px 0px 0px rgba(0,91,96,1); }
a.botao-cta:hover { text-shadow: 0px -2px 1px rgba(0, 113, 117, 1); -webkit-box-shadow: 0px 3px 0px 0px rgba(0,91,96,1); -moz-box-shadow: 0px 3px 0px 0px rgba(0,91,96,1); box-shadow: 0px 3px 0px 0px rgba(0,91,96,1); }
.call-to-action { display: none; }

/* ### CAUSOS ### */
.causos-area { width: 100%; height: 25vw; display: flex; flex-direction: row; background-color: #252320; padding: 10px 0; }
.caminhada-foto { background-image: url(../images/caminhada.jpg); flex: 1 1 25%; height: 100%; background-color: #ffffff; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.caminhada-text { flex: 1 1 75%; padding: 0 10vw 0 10vw; display: flex; flex-direction: column; justify-content: center; }
.causos-chamada { padding-bottom: 14px; }
.causos-chamada h2 { font-family: 'Oswald', sans-serif; font-weight: 500; font-size: 4.5rem; text-align: center; color: rgba(255,255,255,0.50); text-transform: uppercase; }
.causos-sub { font-family: 'Ubuntu', sans-serif; font-weight: 300; font-size: 2.2rem; text-align: center; color: #ecc452; }
.causos-causos { padding: 30px 40px 20px 0; }
/* Aqui começa o código que copiei do site https://tympanus.net/codrops/2013/03/29/quotes-rotator/ */
.cbp-qtrotator { position: relative; width: 100%; }
.cbp-qtrotator .cbp-qtcontent { position: absolute; border-top: 1px solid #000000; top: 0; z-index: 0; opacity: 0; width: 100%; }
.no-js .cbp-qtrotator .cbp-qtcontent { border-bottom: none; }
/* Currently visible */
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent, .no-js .cbp-qtrotator .cbp-qtcontent { position: relative; z-index: 100; pointer-events: auto; opacity: 1; }
.cbp-qtrotator .cbp-qtcontent:before, .cbp-qtrotator .cbp-qtcontent:after { content: " "; display: table; }
.cbp-qtrotator .cbp-qtcontent:after { clear: both; }
.cbp-qtprogress { position: absolute; background: #e99605; height: 1px; width: 0%; top: 0; left: 0; z-index: 1000; }
.cbp-qtrotator blockquote { margin: 0; padding: 0; }
.cbp-qtrotator blockquote p { font-family: 'Ubuntu', sans-serif; font-size: 2rem; color: #d2d2d2; margin-top: 20px; line-height: 1.25em; }
/* Aqui termina o código copiado */

/* ### LOGOS DE CLIENTES ### */
.logos-clientes-area { width: 100%; height: auto; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: center; align-content: center; background-color: #ffffff; clear: both; padding: 20px 9vw; }
.logo-cliente { width: 10vw; height: auto; }
.logo-cliente img { width: 80%; height: auto; }

/* ### CONTATO ### */
.contato-container { width: 100%; height: auto; background-color: #ed553b; }
.contato { position: relative; width: 1200px; height: 540px; display: flex; justify-content: center; align-items: center; margin: auto; }
.contato-chamada { position: absolute; top: 42px; left: 484px; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 4.5rem; text-align: left; color: rgba(255,255,255,0.50); text-transform: uppercase; }
.contato-campos-responsive { display: none; }
.contato-dados { width: 320px; height: 420px; padding: 75px 30px; background: #eeeeee; /* Old browsers */ background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */ -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4); box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.4); }
.contato-dado { font-family: 'Ubuntu', sans-serif; font-weight: 300; font-size: 2rem; text-align: right; color: #858074; margin-bottom: 40px; }
.formato-telefone { font-family: 'Ubuntu', sans-serif; font-weight: 300; font-size: 2rem; text-align: right; color: #858074; }
.contato-campos { width: 562px; height: 360px; background-color: #171615; padding: 34px 62px; }
ul.contato-form { list-style: none; }
ul input, ul textarea { width: 100%; border: none; background-color: #2e2e2e; margin-bottom: 20px; padding: 5px 10px; font-family: 'Ubuntu', sans-serif; font-weight: 300; font-size: 1.6rem; text-align: left; color: #B1B1B1; }
ul input { height: 40px; }
ul textarea { height: 100px; }
form { position: relative; }
.form-button { position: absolute; top: 326px; }
button { width: 440px; background-color: #ecc452; border: none; height: 40px; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 2rem; text-align: center; color: #ffffff; letter-spacing: 1.25em; -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5); }
button:hover { background-color: #252320; color: #ecc452; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7); -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.7); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.7); }
.error { position: absolute; font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"; font-size: 0.75em; color: #DD193E; float: left; font-weight: lighter; margin-top: -14px; }

/* ### FOOTER ### */
.footer { width: 100%; height: 80px; background-color: #ecc452; display: flex; flex-direction: row; justify-content: center; align-items: center; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 2rem; text-align: center; color: #5e4e21; }
.footer-2, .footer-3 { font-weight: 400; }

@media only screen and (max-width : 1366px) {
	/* # CRIATIVIDADE HOME # */
	.criatividade-home-text p { margin-bottom: 1.5rem; font-size: 1.8rem; line-height: 2.2rem; }
	.criatividade-home-text p.section-title { font-size: 2.5rem; }

	/* # ABOUT ME HOME # */
	.about-home-text p { margin-bottom: 1.5rem; font-size: 1.8rem; line-height: 2.2rem; }
	.about-home-text p.section-title { font-size: 2.5rem; }

	/* # VIDEO HOME # */
	.home-video-text p { font-size: 1.8rem; line-height: 2.2rem; margin-bottom: 1.5rem; }
}

@media only screen and (max-width : 1200px) {
	/* # HEADER # */
	.header { height: 70px; }
	.logo { width: 23vw; height: 70px; padding: 0.89vw 2vw; }
	.logo img { width: 100%; object-fit: contain; }
	nav { height: 70px; }
	ul.menu { height: 70px; }
	.social { height: 70px; padding: 1.3vw 2vw; }

	/* # CRIATIVIDADE HOME # */
	.criatividade-home-text { padding: 0 2vw 0 5vw; }
	.criatividade-home-text p { margin-bottom: 1rem; font-size: 1.6rem; line-height: 2rem; }
	.criatividade-home-text p:last-child { margin-bottom: 0; }
	.criatividade-home-text p.section-title { font-size: 2.5rem; }

	/* # ABOUT ME HOME # */
	.about-home-text { padding: 0 5vw 0 2vw; }
	.about-home-text p { margin-bottom: 1rem; font-size: 1.6rem; line-height: 2rem; }
	.about-home-text p:last-child { margin-bottom: 0; }
	.about-home-text p.section-title { font-size: 2.5rem; }

	/* # VIDEO HOME # */
	.home-video-text p { font-size: 1.8rem; line-height: 2.2rem; margin-bottom: 1.5rem; }
	
	/* # CAUSOS # */
	.causos-chamada { padding-bottom: 1.4rem; }
	.causos-chamada h2 { font-size: 2.5rem; }
	.causos-sub { font-size: 1.8rem; }
	.cbp-qtrotator blockquote p { font-family: 'Ubuntu', sans-serif; font-size: 1.6rem; color: #d2d2d2; margin-top: 20px; line-height: 1.8rem; }
	
	/* # CONTATO # */
	.contato { width: 980px; }
	.contato-chamada { top: 44px; left: 378px; font-size: 4rem; }
}

@media only screen and (max-width : 992px) {
	/* ### 	HEADER ### */
	.header { height: 60px; }
	.logo { width: 23vw; height: 60px; padding: 0.89vw 1vw; }
	nav { width: 67vw; height: 60px; }
	ul.menu { height: 60px; }
	ul.menu li a { font-size: 1.4rem; }
	.social { width: 10vw; height: 60px; padding: 1.3vw 0.5vw; }
	.social a:first-child { margin-right: 0.5vw; }
	.social a img { width: 3.5vw; }

	/* # MAIN GRID # */
	.grid-area p { font-size: 1.25rem; }

	/* # CRIATIVIDADE HOME # */
	.criatividade-home-text { padding: 0 1.5vw 0 3vw; }
	.criatividade-home-text p { margin-bottom: 1rem; font-size: 1.6rem; line-height: 1.8rem; }
	.criatividade-home-text p:last-child { margin-bottom: 0; }
	.criatividade-home-text p.section-title { font-size: 2rem; }

	/* # ABOUT ME HOME # */
	.about-home-text { padding: 0 3vw 0 1.5vw; }
	.about-home-text p { margin-bottom: 1rem; font-size: 1.6rem; line-height: 1.8rem; }
	.about-home-text p:last-child { margin-bottom: 0; }
	.about-home-text p.section-title { font-size: 2rem; }

	/* # VIDEO HOME # */
	.home-video-text p { font-size: 1.5rem; line-height: 1.8rem; margin-bottom: 1.25rem; }

	/* ### CALL TO ACTION ### */
	a.botao-cta { width: 320px; font-size: 3rem; }
	
	/* # CAUSOS # */
	.causos-chamada { padding-bottom: 10px; }
	.causos-chamada h2 { font-size: 1.8rem; }
	.causos-sub { font-size: 1.2rem; }
	.causos-causos { padding: 1rem 0; }
	.cbp-qtrotator blockquote p { font-size: 1.25rem; }
	
	/* # CONTATO # */
	.contato { width: 760px; }
	.contato-chamada { top: 50px; left: 310px; font-size: 3.2rem; }
	.contato-dados { width: 280px; }
	.contato-campos { width: 440px; padding: 34px; }
	button { width: 372px; }
}

@media only screen and (max-width : 880px) {
	/* # CRIATIVIDADE HOME # */
	.criatividade-home-text { padding: 0 1.5vw 0 3vw; }
	.criatividade-home-text p { margin-bottom: 0.8rem; font-size: 1.25rem; line-height: 1.5rem; }
	.criatividade-home-text p:last-child { margin-bottom: 0; }
	.criatividade-home-text p.section-title { font-size: 1.8rem; }

	/* # ABOUT ME HOME # */
	.about-home-text { padding: 0 3vw 0 1.5vw; }
	.about-home-text p { margin-bottom: 0.8rem; font-size: 1.25rem; line-height: 1.5rem; }
	.about-home-text p:last-child { margin-bottom: 0; }
	.about-home-text p.section-title { font-size: 1.8rem; }
}

@media only screen and (max-width : 768px) {
	/* ### 	HEADER ### */
	.header { height: auto; flex-direction: column; }
	.logo { width: 100%; height: auto; padding: 2vw 10vw; }
	nav { display: none; }
	.social { width: 100%; height: auto; padding: 2vw auto; }
	.social a:first-child { margin-right: 2vw; }
	.social a img { width: 8vw; }
	.topnav { display: inherit; overflow: hidden; background-color: #ecc452; height: 60px; }
	/* Style the links inside the navigation bar */
	.topnav a { float: left; display: block; color: #252320; text-align: center; padding: 14px 16px; text-decoration: none; border-bottom: 1px solid #ffec78; font-family: 'Ubuntu', sans-serif; font-weight: 700; font-size: 1.5rem; text-transform: uppercase; }
	.topnav a:first-child { border: none; }
	/* Change the color of links on hover */
	.topnav a:hover { color: #f4314c; }
	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon { display: none; }
	 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	.topnav a:not(:first-child) { display: none; }
	.topnav a.icon { position: absolute; left: 0; top: 0; float: left; display: block; font-size: 3rem; border: none; }
	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	.topnav.responsive { position: relative; height: auto; }
	.topnav.responsive a.icon { position: absolute; left: 0; top: 0; }
	.topnav.responsive a { float: none; display: block; text-align: center; }

	/* # 	MAIN GRID # */
	.main-grid { height: 200vw; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(6, 1fr); grid-template-areas: "conheca criatividade criatividade" "conheca videos blog" "treinamento palestras palestras" "case case girafa" "case case girafa" "escola escola motivacao"; }
	.grid-area p { font-size: 1.25rem; }
	.grid-area-text { height: 8vw; }
	.case-image img { width: 50vw; }
 
	/* # CRIATIVIDADE HOME # */
	.criatividade-home-area { height: 60vw; padding: 0; }
	.criatividade-home-text { padding: 0 1.5vw 0 3vw; }
	.criatividade-home-text p { margin-bottom: 1rem; font-size: 1.5rem; line-height: 1.6rem; }
	.criatividade-home-text p.section-title { font-size: 2.5rem; }

	/* # ABOUT ME HOME # */
	.about-home-area { height: 60vw; padding: 0; }
	.about-home-text { padding: 0 3vw 0 1.5vw; }
	.about-home-text p { margin-bottom: 1rem; font-size: 1.5rem; line-height: 1.6rem; }
	.about-home-text p.section-title { font-size: 2.5rem; }

	/* # VIDEO HOME # */
	.home-video p.section-title { font-size: 2rem; padding: 2vw 0; }
	.home-video-frame { width: 80%; padding-bottom: 45%; /* 16:9 */ }
	.home-video-text { padding: 20px 10%; }
	.home-video-text p { font-size: 1.5rem; line-height: 2rem; margin-bottom: 1.25rem; }
	.home-video-text a { font-weight: 400; text-decoration: none; color: #4c4942; }
	.video-text a:hover { text-decoration: underline; }
	
	/* # CALL TO ACTION # */
	.call-to-action { }
	a.botao-cta { width: 380px; font-size: 2.5em; }
	
	/* # CAUSOS # */
	.causos-area { height: 50vw; padding: 0; }
	.caminhada-text { padding: 0 5vw; }
	.causos-chamada { padding-bottom: 10px; }
	.causos-chamada h2 { font-size: 2rem; }
	.causos-sub { font-size: 1.5rem; }
	.cbp-qtrotator blockquote p { font-size: 1.5rem; }

	/* # LOGOS DE CLIENTES # */
	.logos-clientes-area { height: auto; padding: 20px 10%; }
	.logo-cliente { width: 25%; height: auto; padding: 10px 0; }
	.logo-cliente img { width: 80%; height: auto; }
	
	/* # CONTATO # */
	.contato-container { padding: 20px 0; }
	.contato { width: 460px; flex-direction: column; }
	.contato-chamada { position: relative; top: auto; left: auto; font-size: 3rem; text-align: center; margin-bottom: 10px; }
	.contato-dados, .contato-campos { display: none; }
	.contato-campos-responsive { display: block; width: 440px; height: auto; background-color: #171615; padding: 20px; }
	.field-name { font-family: 'Ubuntu', sans-serif; font-weight: 400; font-size: 1.5rem; color: #484848; display: block; text-align: left; float: none; margin-bottom: 4px; }
	.formato-telefone { text-align: left; display: block; margin: 0 0 4px; }
	ul textarea { height: 120px; }
	.form-button { position: relative; top: auto; }
	button { margin-top: 0; }
	.error { position: relative; display: block; float: left; margin-top: -16px; }
	
	/* # FOOTER # */
	.footer { font-size: 1.5rem; height: auto; flex-direction: row; padding: 20px 10px; }
}

@media only screen and (max-width : 660px) {
	/* # CRIATIVIDADE HOME # */
	.criatividade-home-area { height: auto; padding: 0; flex-direction: column-reverse; }
	.criatividade-home-image { height: 50vw; }
	.criatividade-home-text { padding: 3vw; }
	.criatividade-home-text p.section-title { font-size: 2.5rem; text-align: left; }
	.criatividade-home-text p { margin-bottom: 1rem; font-size: 1.5rem; line-height: 1.6rem; text-align: justify; }

	/* # ABOUT ME HOME # */
	.about-home-area { height: auto; padding: 0; flex-direction: column; }
	.about-home-text { padding: 3vw }
	.about-home-text p { margin-bottom: 1rem; font-size: 1.5rem; line-height: 1.6rem; text-align: justify; }
	.about-home-text p.section-title { font-size: 2.5rem; }
	.about-home-image { height: 100vw; }
}

@media only screen and (max-width : 480px) {
	/* # MAIN GRID # */
	.main-grid { height: 450vw; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(9, 1fr); grid-gap: 7px; grid-template-areas: "conheca videos" "conheca blog" "criatividade criatividade" "palestras palestras" "treinamento girafa" "motivacao girafa" "case case" "case case" "escola escola"; padding: 7px 0; }
	.grid-area p { font-size: 1.25rem; }
	.grid-area-text { height: 8vw; }
	.case-image img { width: 75vw; }

	/* # CRIATIVIDADE HOME # */
	.criatividade-home-area { height: auto; flex-direction: column-reverse; padding: 0; }
	.criatividade-home-text { padding: 5vw; }
	.criatividade-home-text p { margin-bottom: 1rem; font-size: 1.5rem; line-height: 1.6rem; text-align: justify; }
	.criatividade-home-text p.section-title { font-size: 2.5rem; text-align: left; }

	/* # ABOUT ME HOME # */
	.about-home-area { height: auto; flex-direction: column; padding: 0; }
	.about-home-image { height: 100vw; }
	.about-home-text { padding: 5vw; }
	.about-home-text p { margin-bottom: 1rem; font-size: 1.5rem; line-height: 1.6rem; text-align: justify; }
	.about-home-text p.section-title { font-size: 2.5rem; }

	/* # CALL TO ACTION # */
	a.botao-cta { width: 300px; font-size: 2.5rem; }
	
	/* # CAUSOS # */
	.causos-area { height: auto; flex-direction: column; padding: 0; }
	.caminhada-foto { height: 60vw; }
	.caminhada-text { padding: 5vw; }
	.causos-chamada { margin-bottom: 10px; }
	.causos-chamada h2 { font-size: 2rem; }
	.causos-sub { font-size: 1.5rem; }
	.cbp-qtrotator blockquote p { font-size: 1.5rem; }

	/* # CONTATO # */
	.contato { width: 320px; background-position: center; flex-direction: column; }
	.contato-chamada { position: relative; top: auto; left: auto; font-size: 1.75em; text-align: center; margin-bottom: 10px; }
	.contato-dados, .contato-campos { display: none; }
	.contato-campos-responsive { display: block; width: 320px; height: auto; background-color: #171615; padding: 20px; }
	.field-name { font-family: 'Ubuntu', sans-serif; font-weight: 400; font-size: 0.9em; color: #484848; display: block; text-align: left; float: none; margin-bottom: 4px; }
	.formato-telefone { text-align: left; display: block; float: none; margin: 0 0 4px; }
	ul textarea { height: 100px; }
	.form-button { position: relative; top: auto; }
	button { width: 280px; }
	.error { position: relative; display: block; float: left; margin-top: -16px; }

	/* # FOOTER # */
	.footer { height: auto; flex-direction: column; padding: 20px; }
	.footer-1 {  }
	.footer-2 { display: none; }
	.footer-3 { margin-top: 10px; }
}