@charset "UTF-8";
/* CSS Document */

/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	text-align: center;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */

html {
	box-sizing: border-box;
}

body {
	background-color: #4c4942;
	background-image: url(../images/bg-palestras.jpg);
	background-repeat: no-repeat;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.clear {
	width: 100%;
	height: 1px;
	clear: both;
}

/* ### 	CONTAINER ### */

.container {
	width: 1200px;
	height: auto;
	min-height: 500px;
	background-color: #171615;
	margin: 50px auto;
	-webkit-box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 75px 0px rgba(0,0,0,0.5);
}

/* ### MENU ### */

.topnav {
	display: none;
}

nav {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-content: center;
}

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	align-self: center;
}

ul.menu li {
	margin: 0 30px;
}

ul.menu li a {
	display: block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color: #858074;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.25em;
}

ul.menu li a:hover {
	color: #f4314c;
}

/* ### MAIN LOGO ### */

.main-logo-area {
	width: 100%;
	height: auto;
	margin: 30px auto;
}

.main-logo {
	
}

.main-logo img {
	width: 300px;
	height: 39px;
}

.main-logo-frase {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	color: #ffffff;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	margin-top: 12px;
}

/* ### CONTATO ### */

.form-container {
	background-color: #ecc452;
	padding: 80px 120px;
}

.contato {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 25px 50px -10px rgba(0,0,0,1);
	-moz-box-shadow: 0px 25px 50px -10px rgba(0,0,0,1);
	box-shadow: 0px 25px 50px -10px rgba(0,0,0,1);
	padding: 40px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
}

.contato-chamada {
	font-family: 'Unica One', cursive;
	font-size: 3.25em;
	text-align: center;
	color: #ecc452;
	text-transform: uppercase;
}

form {
	width: 100%;
	height: auto;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: #8A8A8A;
}

fieldset {
	width: 100%;
	height: auto;
	padding: 40px;
	background-color: #EEEEEE;
	margin: 40px auto 0;
	border-radius: 4px;
}

legend {
	font-weight: 700;
	background-color: #ffffff;
	padding: 5px 20px;
	border-radius: 4px;
}

ul li {
	text-align: left;
	margin-bottom: 20px;
}

label {
	margin-left:10px;
	font-size: 0.8em;
	font-weight: 400;
}

ul.contato-form {
	list-style: none;
}

ul input, ul textarea {
	width: 100%;
	margin: 0 0 3px;
	padding: 5px 10px;
	text-align: left;
	color: #B1B1B1;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #D2D2D2;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
}

ul input:focus, ul textarea:focus {
	border-color: #ecc452;
}

ul input {
	height: 40px;
}

ul textarea {
	height: 160px;
}

.checkboxArea {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 4px 0;
}

.checkboxArea:first-of-type {
	margin-top: 20px;
}

.checkboxArea:last-of-type {
	margin-bottom: 20px;
}

.checkboxArea input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 0;
}

.checkboxArea label {
	font-size: 1em;
	margin: 0 0 0 10px;
}

button {
	background-color: #e99605;
	border: none;
	border-radius: 4px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 1.25em;
	text-align: center;
	color: #ffffff;
	letter-spacing: 1.25em;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
	margin-top: 20px;
	padding: 20px 40px;
}

button:hover {
	background-color: #000000;
	color: #e99605;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.7);
}

p.propostaEnviada {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	color: #535353;
	text-align: center;
	font-weight: 300;
	margin-top: 20px;
}

.error {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 0.75em;
	color: #DD193E;
	font-weight: lighter;
	margin-left: 10px;
}

/* ### FOOTER ### */

.footer {
	width: 100%;
	height: 80px;
	background-color: #171615;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 1em;
	text-align: center;
	color: #ecc452;
}

.footer-2, .footer-3 {
	font-weight: 300;
}

@media only screen and (max-width : 1200px) {
	/* # MY CSS # */
	body {
		background-image: none;
	}

	.container {
		width: 990px;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	/* # CONTATO # */
	.form-container {
		padding: 60px;
	}
	
	.contato {
		padding: 40px;
	}
}

@media only screen and (max-width : 992px) {
	/* # MY CSS # */
	body {
		background-image: none;
	}
	.container {
		width: 760px;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	/* # MENU # */
	ul.menu li {
		margin: 0 20px;
	}
	
	/* # CONTATO # */
	.form-container {
		padding: 40px;
	}
	
	.contato {
		padding: 30px;
	}
	/* # FOOTER # */
	
}

@media only screen and (max-width : 768px) {
	body {
		background-color: #4c4942;
		background-image: none;
	}
	.container {
		width: 480px;
		min-height: 0;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
	/* # MENU # */
	nav {
		display: none;
	}
	.topnav {
		display: inherit;
		overflow: hidden;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: #858074;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 400;
		font-size: 0.8em;
		text-transform: uppercase;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
		color: #f4314c;
	}

	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
		display: none;
	}
	 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	.topnav a:not(:first-child) {
		display: none;
	}
	
	.topnav a.icon {
		float: right;
		display: block;
	}

	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	.topnav.responsive {
		position: relative;
	}
	
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	
	/* # MAIN LOGO # */
	.main-logo {
		margin: 20px auto 20px;
	}
	
	.main-logo-frase {
		display: flex;
		flex-direction: column;
	}
	.main-logo-frase-1 {
		
	}
	
	.main-logo-frase-2 {
		display: none;
	}
	
	.main-logo-frase-3 {
		margin-top: 7px;
		font-size: 0.8em;
	}
	
	/* # CONTATO # */
	.contato-chamada {
		font-size: 2.5em;
	}
	.form-container {
		padding: 30px;
	}
	
	.contato {
		padding: 20px;
	}
	fieldset {
		padding: 20px;
	}
	.checkboxArea label {
		font-size: 0.8em;
	}
	
	/* # FOOTER # */
	.footer {
		height: auto;
		flex-direction: column;
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
	.footer-1 {
		
	}
	
	.footer-2 {
		display: none;
	}
	
	.footer-3 {
		font-weight: 300;
		margin-top: 12px;
	}
}

@media only screen and (max-width : 480px) {
	body {
		background-color: #4c4942;
		background-image: none;
	}
	.container {
		width: 360px;
		min-height: 0;
		margin: 0 auto;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	/* # MENU # */
	nav {
		display: none;
	}
	.topnav {
		display: inherit;
		overflow: hidden;
	}

	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: #858074;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 400;
		font-size: 0.8em;
		text-transform: uppercase;
	}

	/* Change the color of links on hover */
	.topnav a:hover {
		color: #f4314c;
	}

	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
		display: none;
	}
	 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	.topnav a:not(:first-child) {
		display: none;
	}
	
	.topnav a.icon {
		float: right;
		display: block;
	}

	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	.topnav.responsive {
		position: relative;
	}
	
	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
	/* # MAIN LOGO # */
	.main-logo {
		margin: 20px auto 20px;
	}
	
	/* # CONTATO # */
	.contato-chamada {
		font-size: 2.5em;
	}
	.form-container {
		padding: 20px 0;
	}
	
	.contato {
		padding: 20px 10px;
	}
	fieldset {
		padding: 20px 10px;
	}
	.checkboxArea label {
		font-size: 0.8em;
	}
	
	button {
		font-size: 1em;
		letter-spacing: 0.25em;
		margin-top: 20px;
		padding: 20px;
	}
	
	/* # FOOTER # */
	.footer {
		height: auto;
		flex-direction: column;
		padding: 20px;
	}
	
	.footer-1 {
		
	}
	
	.footer-2 {
		display: none;
	}
	
	.footer-3 {
		margin-top: 10px;
	}
}