@charset "UTF-8";
/* CSS Document */

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
	text-align: center;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My CSS */
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	background-color: #ffffff;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* HEADER */
.header {
	width: 100%;
	height: 100px;
	background-color: #ecc452;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.logo {
	display: flex;
	width: 23vw;
	height: 100px;
	padding: 0.89vw 2vw;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.logo img {
	width: 100%;
	object-fit: contain;
}
nav {
	width: 67vw;
	height: 100px;
}
ul.menu {
	height: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}
ul.menu li {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-left: 1px solid #ffec78;
	margin: 0;
}
ul.menu li:last-child {
	border-right: 1px solid #ffec78;
}
ul.menu li a {
	display: flex;
	font-family: "Oswald", sans-serif;
	color: #252320;
	font-size: 1.6rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
ul.menu li a:hover {
	background-color: #caa431;
	background-image: linear-gradient(#ffe773, #ecc452);
}
ul.menu li a.selected {
	color: #ffffff;
	font-weight: 500;
	background-color: #ffe773;
	background-image: linear-gradient(#ecc452, #caa431);
}
.topnav {
	display: none;
}
.social {
	width: 10vw;
	height: 100px;
	padding: 1.3vw 2vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.social a {
	display: block;
}
.social a:first-child {
	margin-right: 0.5vw;
}
.social a img {
	width: 2.5vw;
	height: auto;
}
.social a.language {
	display: block;
	margin-left: 1vw;
}
.social a.language img {
	width: 1.5vw;
	height: auto;
}

/* CONTEÚDO */
.top-area {
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
}
.apresentacao-top {
	background-image: url("../images/bg-conheca.jpg");
}
.top-area-foto {
	flex: 1 1 50%;
}
.top-area-texto {
	flex: 1 1 50%;
	padding-right: 10vw;
}
.top-area-texto h1 {
	font-family: "Oswald", sans-serif;
	color: #252320;
	font-size: 4rem;
	font-weight: 500;
	text-transform: uppercase;
}
.top-area-texto p {
	font-family: "Ubuntu", sans-serif;
	color: #252320;
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 4rem;
	margin-top: 3rem;
}
.text-block {
	margin: 0 auto;
	width: 60%;
}
.text-block h2 {
	display: block;
	margin-bottom: 3rem;
	padding: 0;
	font-family: "Oswald", sans-serif;
	color: #252320;
	font-size: 3rem;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
.text-block h2 span {
	background-color: #ecc452;
	padding: 0.3rem 1rem;
}
.text-block p {
	font-family: "Ubuntu", sans-serif;
	font-size: 2rem;
	font-weight: 300;
	line-height: 4rem;
	text-align: justify;
	margin-bottom: 2rem;
}
.text-block p:last-child {
	margin-bottom: 0;
}
.text-block-light,
.text-block-image,
.text-block-dark {
	width: 100%;
	height: auto;
	padding: 5rem 0;
}
.text-block-light {
	background-color: #dadcdf;
}
.text-block-light p {
	color: #252320;
}
.text-block-image {
	background-color: #252320;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-block-image p {
	color: #dadcdf;
}
.text-block-image-01 {
	background-image: url("../images/bg-block-text-01.jpg");
}
.text-block-image-02 {
	background-image: url("../images/bg-block-text-02.jpg");
}
.text-block-dark {
	background-color: #252320;
}
.text-block-dark p {
	color: #dadcdf;
}
ul.credo li {
	font-family: "Ubuntu", sans-serif;
	font-size: 2.25rem;
	font-weight: 300;
	color: #dadcdf;
	margin-bottom: 2rem;
	text-align: left;
	line-height: 3.5rem;
}
ul.credo li:last-child {
	margin-bottom: 0;
}
ul.credo li span {
	background-color: rgba(0, 0, 0, 0.65);
	color: #ecc452;
	padding: 5px 10px;
}
.text-block-produto {
	margin: 0 auto;
	width: 100%;
}
.produto-area {
	width: 100%;
	background-color: #f3452b;
	padding: 1rem 0;
}
h2.produto {
	font-family: "Unica One", sans-serif;
	font-size: 4rem;
	color: #252320;
	text-align: center;
}
.produto-chamada-area {
	width: 100%;
	background-color: #252320;
	padding: 2rem 0;
}
h3.produto-chamada {
	font-family: "Oswald", sans-serif;
	color: #ecc452;
	font-size: 2.5rem;
	font-weight: 300;
	text-align: center;
}
.produto-texto-area {
	width: 100%;
	margin: 0 auto;
	padding: 4rem 0;
	background-color: #333333;
}
.text-block-produto p {
	width: 60%;
	margin: 0 auto 2rem;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.75rem;
	color: #dddddd;
	font-weight: 300;
	line-height: 4rem;
	text-align: justify;
}
.text-block-produto p:last-child {
	margin-bottom: 0;
}
.produto-faixa {
	width: 100%;
	height: 6px;
	clear: auto;
}
.faixa-amarela {
	background-color: #ecc452;
}
.faixa-cinza {
	background-color: #252320;
	height: 12px;
}

/* ESPECÍFICO PALESTRAS */
.palestras-top {
	background-image: url("../images/bg-palestras.jpg");
}
.palestras-top-texto {
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.75);
	margin-right: 10vw;
}
.palestras-top-texto h1,
.palestras-top-texto p {
	color: #dadcdf;
}

/* ESPECÍFICO TREINAMENTO */
.treinamento-top {
	background-image: url("../images/bg-treinamento.jpg");
}
.treinamento-top-foto {
	display: none;
}
.treinamento-top-texto {
	flex: 0 1 50%;
	padding: 5vw;
	background-color: rgba(0, 0, 0, 0.75);
}
.treinamento-top-texto h1 {
	color: #ffffff;
	font-size: 4rem;
}
.treinamento-top-texto p {
	color: #ffffff;
	font-size: 2.5rem;
	line-height: 4rem;
	margin-top: 3rem;
}
.text-block-image-03 {
	background-image: url("../images/bg-block-text-03.jpg");
}

/* ESPECÍFICO VÍDEOS */
.videos-top {
	background-image: url("../images/bg-videos.jpg");
}
.videos-top-foto {
	display: none;
}
.videos-top-texto {
	flex: 0 1 50%;
	padding: 5vw;
	background-color: rgba(0, 0, 0, 0.75);
}
.videos-top-texto h1 {
	color: #ffffff;
	font-size: 4rem;
}
.videos-top-texto p {
	color: #ffffff;
	font-size: 2.5rem;
	line-height: 4rem;
	margin-top: 3rem;
}
.video-area {
	width: 50%;
	height: auto;
	margin: 0 auto;
}
.video-frame {
	width: 100%;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
a.mais-videos {
	display: block;
	width: 100%;
	height: 80px;
	background-color: #ffffff;
	line-height: 80px;
	font-family: "Ubuntu", sans-serif;
	color: #252320;
	font-size: 2.5rem;
	font-weight: 300;
	text-decoration: none;
}
a.mais-videos div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}
a.mais-videos div img {
	width: 160px;
	height: 40px;
	margin-left: 2rem;
}
a.mais-videos:hover {
	background-color: #dddddd;
	background-image: linear-gradient(#b0b1b5, #ffffff);
	color: #333333;
}
a.mais-videos:hover img {
	opacity: 0.8;
}

/* ESPECÍFICO CONTATO */
.contato-top {
	background-image: url("../images/bg-contato.jpg");
}
.contato-top-texto {
	flex: 0 1 50%;
	padding: 5vw;
	background-color: rgba(0, 0, 0, 0.75);
}
.contato-top-texto h1 {
	color: #ffffff;
	font-size: 4rem;
}
.contato-top-texto p {
	color: #ffffff;
	font-size: 2.5rem;
	line-height: 4rem;
	margin-top: 3rem;
}
.form-container {
	width: 100%;
	height: auto;
	background-color: #ecc452;
	padding: 80px 20vw;
}
.dark-form-container {
	background-color: #121212;
}
.contato {
	width: 100%;
	height: auto;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 25px 50px -10px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 25px 50px -10px rgba(0, 0, 0, 1);
	box-shadow: 0px 25px 50px -10px rgba(0, 0, 0, 1);
	padding: 40px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 4px;
}
.contato {
	background-color: #1a1a1a;
}
.contato-chamada {
	font-family: "Unica One", cursive;
	font-size: 4rem;
	text-align: center;
	color: #ecc452;
	text-transform: uppercase;
}
.dark-contato-chamada {
	color: #cbcbcb;
}
form {
	width: 100%;
	height: auto;
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 2rem;
	color: #8a8a8a;
}
fieldset {
	width: 100%;
	height: auto;
	padding: 40px;
	background-color: #eeeeee;
	margin: 40px auto 0;
	border-radius: 4px;
}
fieldset.dark-fieldset {
	background-color: #242424;
}
legend {
	font-family: "Oswald", sans-serif;
	font-weight: 500;
	background-color: #ffffff;
	padding: 5px 20px;
	border-radius: 4px;
}
legend.dark-legend {
	background-color: #242424;
}
ul li {
	text-align: left;
	margin-bottom: 20px;
}
label {
	margin-left: 10px;
	font-size: 1.5rem;
	font-weight: 300;
}
ul.contato-form {
	list-style: none;
}
ul input,
ul textarea {
	width: 100%;
	margin: 0 0 3px;
	padding: 5px 10px;
	text-align: left;
	color: #8d8d8d;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #d2d2d2;
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
}
ul.dark-contato-form input,
ul.dark-contato-form textarea {
	background-color: #1f1f1f;
	border: 1px solid #303030;
}
ul input:focus,
ul textarea:focus {
	border-color: #ecc452;
}
ul.dark-contato-form input:focus,
ul.dark-contato-form textarea:focus {
	border-color: #929190;
}
ul input {
	height: 40px;
}
ul textarea {
	height: 160px;
}
.checkboxArea {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 4px 0;
}
.checkboxArea:first-of-type {
	margin-top: 20px;
}
.checkboxArea:last-of-type {
	margin-bottom: 20px;
}
.checkboxArea input[type="checkbox"] {
	width: 20px;
	height: 20px;
	margin: 0;
}
.checkboxArea label {
	font-size: 1.5rem;
	margin: 0 0 5px 10px;
}
button {
	background-color: #e99605;
	border: none;
	border-radius: 4px;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	color: #ffffff;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
	margin-top: 20px;
	padding: 20px 40px;
}
button:hover {
	background-color: #000000;
	color: #e99605;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.7);
}
p.propostaEnviada {
	font-family: "Ubuntu", sans-serif;
	font-size: 1.5rem;
	color: #535353;
	text-align: center;
	font-weight: 300;
	margin-top: 20px;
}
.error {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
		sans-serif;
	font-size: 0.75em;
	color: #dd193e;
	font-weight: lighter;
	margin-left: 10px;
}

.form-button {
	position: relative;
	top: auto;
}

.bouton-contact {
	cursor: pointer;
}

.resultado {
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0;
	background-color: #252320;
	color: #ecc452;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	animation-name: slideUp;
	animation-duration: 1s;
	animation-delay: 3s;
	animation-fill-mode: forwards;
	font-weight: 500;
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

@keyframes slideUp {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100%);
	}
}

/* ESPECÍFICO CRIATIVIDADE E INOVAÇÃO */
.criatividade-top {
	background-image: url("../images/bg-criatividade.jpg");
}
.criatividade-top-texto {
	order: 1;
	padding: 2vw 2vw 2vw 10vw;
	background-color: rgba(0, 0, 0, 0.5);
}
.criatividade-top-texto h1,
.criatividade-top-texto p {
	color: #ffffff;
}
.criatividade-top-foto {
	order: 2;
}
.text-block-image-04 {
	background-image: url("../images/bg-block-text-04.jpg");
}
.text-block-image-05 {
	background-image: url("../images/bg-block-text-05.jpg");
}

/* ESPECÍFICO SEJA O SEU CASE */
.case-top {
	background-image: url("../images/bg-case.jpg");
}
.logo-case {
	width: 30%;
	height: auto;
	padding: 1vw 2vw;
	background-color: #252320;
	margin: 0 auto 2vw auto;
}
.logo-case img {
	width: 100%;
	height: auto;
}
.stripe {
	width: 100%;
	height: 20px;
	background-image: url("../images/bg-stripe.jpg");
	background-repeat: repeat-x;
	clear: both;
}
.case-top-texto {
	order: 1;
	padding: 2vw 2vw 2vw 10vw;
	background-color: rgba(0, 0, 0, 0.7);
}
.case-top-texto h1,
.case-top-texto p {
	color: #ecc452;
}
.case-top-foto {
	order: 2;
}
.case-block-letra {
	width: 100%;
	height: 25vw;
	display: flex;
	flex-direction: row;
}
.case-foto {
	background-color: #252320;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 25vw;
	height: 25vw;
}
.case-foto-confiar {
	background-image: url("../images/case-confiar.jpg");
}
.case-foto-adaptar {
	background-image: url("../images/case-adaptar.jpg");
}
.case-foto-solucionar {
	background-image: url("../images/case-solucionar.jpg");
}
.case-foto-expressar {
	background-image: url("../images/case-expressar.jpg");
}
.case-texto {
	width: 75vw;
	height: 25vw;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: column;
}
.case-texto-palavra {
	width: 75vw;
	height: 7vw;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-direction: row;
}
.letra-inicial {
	width: 7vw;
	height: 7vw;
	background-color: #252320;
	font-family: "Ubuntu", sans-serif;
	font-size: 10rem;
	color: #ecc452;
	text-align: center;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.verbo {
	width: 100%;
	height: 7vw;
	background-color: #ecc452;
	font-family: "Ubuntu", sans-serif;
	font-size: 6rem;
	color: #252320;
	text-align: left;
	padding-left: 2vw;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-content: center;
	align-items: center;
}
.case-texto-descricao {
	width: 100%;
	height: 18vw;
	padding: 0 3vw;
	font-family: "Ubuntu", sans-serif;
	font-size: 3rem;
	color: #252320;
	text-align: left;
	line-height: 4rem;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

/* ESPECÍFICO CURIOSIDADE */
.curiosidade-top {
	background-image: url("../images/bg-curiosidade.jpg");
}
.curiosidade-top-foto {
	flex: 1 1 60%;
}
.curiosidade-top-texto {
	flex: 1 1 40%;
	padding: 2vw 5vw 2vw 2vw;
	background-color: rgba(0, 0, 0, 0.75);
}
.curiosidade-top-texto h1,
.curiosidade-top-texto p {
	color: #ffffff;
}

/* ESPECÍFICO MOTIVAÇÃO */
.motivacao-top {
	background-image: url("../images/bg-motivacao.jpg");
}
.motivacao-top-foto {
	flex: 1 1 50%;
}
.motivacao-top-texto {
	flex: 1 1 50%;
	padding: 2vw 5vw 2vw 2vw;
	background-color: rgba(0, 0, 0, 0.75);
}
.motivacao-top-texto h1,
.motivacao-top-texto p {
	color: #ecc452;
}
.block-artur {
	width: 100%;
	height: auto;
	background-color: #252320;
}
.block-artur-imagem {
	width: 100%;
	height: auto;
	padding: 2vw 10vw;
	margin: 0 auto;
}
.block-artur-imagem img {
	width: 100%;
	height: auto;
}
.block-artur-texto {
	width: 100%;
	height: auto;
	padding: 2vw 10vw 4vw;
	background-color: #ecc452;
}
.block-artur-texto p {
	font-family: "Ubuntu", sans-serif;
	font-size: 2.5rem;
	color: #333333;
	text-align: center;
	line-height: 3rem;
	font-weight: 300;
}
.text-block-image-06 {
	background-image: url("../images/bg-block-text-06.jpg");
}

/* ESPECÍFICO CRIATIVIDADE NA ESCOLA */
.escola-top {
	background-image: url("../images/bg-escola.jpg");
}
.escola-top-texto h1,
.escola-top-texto p {
	color: #ecc452;
}
.educacao-area {
	width: 100%;
	height: auto;
	font-family: "Ubuntu", sans-serif;
	color: #ffffff;
	border: 2vw #fff solid;
	display: flex;
}
.educacao-left {
	width: 56vw;
	height: auto;
	background-color: #004a59;
	background-image: linear-gradient(to bottom left, #004a59, #009494);
	color: #fff;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.educacao-left p {
	margin-bottom: 1.5em;
}
.educacao-linha-1 {
	font-weight: 100;
	font-size: 3rem;
}
.educacao-linha-2 {
	font-weight: 100;
	font-size: 4em;
}
.font-weight-700 {
	font-weight: 700;
}
.educacao-divisor {
	width: 100px;
	height: 2px;
	background-color: #ffffff;
	margin: 0 auto 4vw;
}
.educacao-linha-3 {
	font-weight: 100;
	font-size: 2.25rem;
}
.educacao-linha-4 {
	font-weight: 100;
	font-size: 2.25rem;
	line-height: 3rem;
}
.educacao-linha-5 {
	font-weight: 700;
	font-size: 3rem;
}
.educacao-right {
	width: 40vw;
	height: 40vw;
	display: flex;
	background-color: #000000;
	overflow: hidden;
	justify-content: center;
	background-color: #ffffff;
	background-image: url("../images/educacao-menino.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.text-block-image-07 {
	background-image: url("../images/bg-lousa.jpg");
}

/* FOOTER */
.footer {
	width: 100%;
	height: 80px;
	background-color: #ecc452;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	color: #5e4e21;
}
.footer-2,
.footer-3 {
	font-weight: 300;
}

/* OPÇÕES GERAIS */
.clear {
	width: 100%;
	height: 1px;
	clear: both;
}
.destaque {
	background-color: #ecc452;
	color: #252320;
	font-weight: 700;
	padding: 3px 7px;
}
.bold {
	font-weight: 700;
}
p.quote {
	padding: 1vw 4vw;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.5rem;
	font-weight: 100;
	color: #ecc452;
	text-align: center;
}
p.quote-dark {
	padding: 2vw;
	background-color: #252320;
}
a.a-over-dark {
	color: #ecc452;
	text-decoration: none;
	border-bottom: 4px solid #ecc452;
}
a.a-over-dark:hover {
	color: #ab8f3f;
	border-bottom: 4px solid #ab8f3f;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Maximum Width: 1366px;
   ========================================================================== */
@media only screen and (max-width: 1366px) {
	.text-block {
		width: 80%;
	}
	.text-block-produto p {
		width: 80%;
	}
	.produto-chamada-area {
		padding: 2rem 4%;
	}
	.form-container {
		padding: 60px 10vw;
	}
	.contato {
		padding: 40px;
	}
	.checkboxArea label {
		margin: 0 0 0 10px;
	}
	.letra-inicial {
		font-size: 8rem;
	}
	.educacao-left {
		padding: 30px;
	}
	.educacao-left p {
		margin-bottom: 1.25em;
	}
	.educacao-left p:last-child {
		margin-bottom: 0;
	}
	.educacao-linha-1,
	.educacao-linha-3,
	.educacao-linha-4 {
		font-size: 1.75rem;
	}
	.educacao-linha-2,
	.educacao-linha-5 {
		font-size: 2.25rem;
	}
}

/* Maximum Width: 1200px;
   ========================================================================== */
@media only screen and (max-width: 1200px) {
	/* HEADER */
	.header {
		height: 70px;
	}
	.logo {
		width: 23vw;
		height: 70px;
		padding: 0.89vw 2vw;
	}
	.logo img {
		width: 100%;
		object-fit: contain;
	}
	nav {
		height: 70px;
	}
	ul.menu {
		height: 70px;
	}
	.social {
		height: 70px;
		padding: 1.3vw 2vw;
	}
	/* CONTEÚDO */
	.top-area-texto {
		padding-right: 5vw;
	}
	.top-area-texto h1 {
		font-size: 3rem;
	}
	.top-area-texto p {
		font-size: 2rem;
		line-height: 3rem;
		margin-top: 2.5rem;
	}
	.text-block {
		width: 80%;
	}
	.text-block-produto p {
		width: 80%;
	}
	ul.credo li {
		font-size: 2rem;
		line-height: 3.3rem;
	}
	.video-area {
		width: 70%;
	}
	.stripe {
		height: 14px;
	}
	.letra-inicial {
		font-size: 6rem;
	}
	.verbo {
		font-size: 4rem;
	}
	.case-texto-descricao {
		padding: 0 2vw;
		font-size: 2rem;
		line-height: 3rem;
	}
}

/* Maximum Width: 992px;
   ========================================================================== */
@media only screen and (max-width: 992px) {
	/* HEADER */
	.header {
		height: 60px;
	}
	.logo {
		width: 23vw;
		height: 60px;
		padding: 0.89vw 1vw;
	}
	nav {
		width: 67vw;
		height: 60px;
	}
	ul.menu {
		height: 60px;
	}
	ul.menu li a {
		font-size: 1.4rem;
	}
	.social {
		width: 10vw;
		height: 60px;
		padding: 1.3vw 0.5vw;
	}
	.social a:first-child {
		margin-right: 0.5vw;
	}
	.social a img {
		width: 3.5vw;
	}

	/* CONTEÚDO */
	.text-block {
		width: 85%;
	}
	.text-block h2 {
		font-size: 2.5rem;
	}
	.text-block p {
		font-size: 1.5rem;
		line-height: 3rem;
		margin-bottom: 2rem;
	}
	ul.credo li {
		font-size: 1.75rem;
		line-height: 2.8rem;
	}
	.video-area {
		width: 70%;
		height: auto;
		margin: 0 auto;
	}
	.criatividade-top-texto {
		padding: 2vw 2vw 2vw 4vw;
	}
	.criatividade-top-texto h1 {
		font-size: 2.5rem;
	}
	.criatividade-top-texto p {
		font-size: 1.8rem;
	}
	.stripe {
		height: 12px;
	}
	.letra-inicial {
		font-size: 4rem;
	}
	.verbo {
		font-size: 3rem;
	}
	.case-texto-descricao {
		padding: 0 2vw;
		font-size: 1.65rem;
		line-height: 2rem;
	}
	.motivacao-top {
		background-image: url("../images/bg-motivacao-2.jpg");
	}
	.text-block-image-06 {
		background-image: url("../images/bg-block-text-06-2.jpg");
	}
	.escola-top {
		background-image: url("../images/bg-escola-2.jpg");
	}
	.text-block-image-07 {
		background-image: url("../images/bg-lousa-2.jpg");
	}
	.educacao-linha-1,
	.educacao-linha-3,
	.educacao-linha-4 {
		font-size: 1.75rem;
		line-height: 2rem;
	}
	.educacao-linha-2,
	.educacao-linha-5 {
		font-size: 2.25rem;
	}
	.educacao-left p {
		margin-bottom: 1.25rem;
	}
	.educacao-left p:last-child {
		margin-bottom: 0;
	}
	.educacao-divisor {
		margin: 0.5rem auto 1.75rem;
	}
	.educacao-right {
		height: 50vw;
	}
}

/* Maximum Width: 880px;
   ========================================================================== */
@media only screen and (max-width: 880px) {
	h2.produto {
		font-size: 3rem;
	}
	h3.produto-chamada {
		font-size: 2rem;
	}
}

/* Maximum Width: 768px;
   ========================================================================== */
@media only screen and (max-width: 768px) {
	/* HEADER */
	.header {
		height: auto;
		flex-direction: column;
	}
	.logo {
		width: 100%;
		height: auto;
		padding: 2vw 10vw;
	}
	nav {
		display: none;
	}
	.social {
		width: 100%;
		height: auto;
		padding: 2vw auto;
	}
	.social a:first-child {
		margin-right: 2vw;
	}
	.social a img {
		width: 8vw;
	}
	.topnav {
		display: inherit;
		overflow: hidden;
		background-color: #ecc452;
		height: 60px;
	}
	/* Style the links inside the navigation bar */
	.topnav a {
		float: left;
		display: block;
		color: #252320;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		border-bottom: 1px solid #ffec78;
		font-family: "Ubuntu", sans-serif;
		font-weight: 700;
		font-size: 1.5rem;
		text-transform: uppercase;
	}
	.topnav a:first-child {
		border: none;
	}
	/* Change the color of links on hover */
	.topnav a:hover {
		color: #f4314c;
	}
	/* Hide the link that should open and close the topnav on small screens */
	.topnav .icon {
		display: none;
	}
	/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		position: absolute;
		left: 0;
		top: 0;
		float: left;
		display: block;
		font-size: 3rem;
		border: none;
	}
	/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
	.topnav.responsive {
		position: relative;
		height: auto;
	}
	.topnav.responsive a.icon {
		position: absolute;
		left: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: center;
	}

	/* CONTEÚDO */
	.top-area-foto {
		flex: 1 1 42%;
	}
	.top-area-texto {
		flex: 1 1 58%;
		padding-right: 7vw;
	}
	.top-area-texto h1 {
		font-size: 2rem;
	}
	.top-area-texto p {
		font-size: 1.5rem;
		line-height: 2rem;
		margin-top: 2rem;
	}
	ul.credo li {
		line-height: 2.8rem;
	}
	h3.produto-chamada {
		font-size: 1.75rem;
	}
	.produto-area {
		padding: 1rem 10vw;
	}
	h2.produto {
		font-size: 2.5rem;
	}
	.produto-chamada-area {
		padding: 2rem 10vw;
	}
	h3.produto-chamada {
		font-size: 2rem;
		line-height: 3rem;
	}
	.video-area {
		width: 80%;
	}
	a.mais-videos {
		height: 60px;
		line-height: 60px;
		font-size: 2rem;
	}
	a.mais-videos div img {
		width: 120px;
		height: 30px;
		margin-left: 1rem;
	}
	.contato-chamada {
		font-size: 2rem;
	}
	.form-container {
		padding: 30px 5%;
	}
	.contato {
		padding: 20px;
	}
	fieldset {
		padding: 20px;
	}
	.checkboxArea label {
		font-size: 1.25rem;
	}
	.top-area-foto {
		flex: 1 1 30%;
	}
	.top-area-texto {
		flex: 1 1 70%;
	}
	.apresentacao-foto {
		flex: 1 1 40%;
	}
	.apresentacao-texto {
		flex: 1 1 60%;
		padding-right: 4vw;
	}
	.text-block h2 {
		font-size: 2rem;
		line-height: 2rem;
	}
	.text-block-image-04 {
		background-image: url("../images/bg-block-text-01-2.jpg");
	}
	.text-block-image-04 {
		background-image: url("../images/bg-block-text-02-2.jpg");
	}
	.text-block-image-04 {
		background-image: url("../images/bg-block-text-03-2.jpg");
	}
	.text-block-image-04 {
		background-image: url("../images/bg-block-text-04-2.jpg");
	}
	.text-block-image-04 {
		background-image: url("../images/bg-block-text-05-2.jpg");
	}
	.text-block-image-04 {
		background-image: url("../images/bg-block-text-06-2.jpg");
	}
	.apresentacao-top {
		background-image: url("../images/bg-conheca-2.jpg");
		height: 75vw;
	}
	.criatividade-top {
		background-image: url("../images/bg-criatividade-2.jpg");
	}
	.palestras-top {
		background-image: url("../images/bg-palestras-2.jpg");
		height: 75vw;
	}
	.treinamento-top {
		background-image: url("../images/bg-treinamento-2.jpg");
	}
	.videos-top {
		background-image: url("../images/bg-videos-2.jpg");
	}
	.contato-top {
		background-image: url("../images/bg-contato-2.jpg");
	}
	.case-top {
		background-image: url("../images/bg-case-2.jpg");
	}
	.curiosidade-top {
		background-image: url("../images/bg-curiosidade-2.jpg");
	}
	.motivacao-top {
		background-image: url("../images/bg-motivacao-2.jpg");
	}
	.escola-top {
		background-image: url("../images/bg-escola-2.jpg");
	}
	.logo-case {
		width: 60%;
	}
	.case-block-letra {
		height: auto;
		flex-direction: column;
	}
	.case-foto {
		width: 100vw;
		height: 100vw;
	}
	.case-texto {
		width: 100vw;
		height: auto;
	}
	.case-texto-palavra {
		width: 100vw;
		height: 15vw;
	}
	.letra-inicial {
		width: 15vw;
		height: 15vw;
		font-size: 4rem;
	}
	.verbo {
		width: 85vw;
		height: 15vw;
		font-size: 2rem;
	}
	.case-texto-descricao {
		width: 100%;
		height: auto;
		padding: 3vw;
		font-size: 2rem;
		line-height: 2.5rem;
	}
	.block-artur-imagem {
		padding: 2vw;
	}
	.escola-top-foto {
		flex: 1 1 40%;
	}
	.escola-top-texto {
		flex: 1 1 60%;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 2vw;
	}
	.escola-top-texto h1 {
		color: #ffffff;
		font-size: 2rem;
	}
	.escola-top-texto p {
		color: #ffffff;
		font-size: 1.5rem;
		line-height: 2rem;
		margin-top: 2rem;
	}
	.educacao-area {
		flex-direction: column;
	}
	.educacao-left {
		width: 100%;
		height: auto;
	}
	.educacao-linha-1,
	.educacao-linha-3,
	.educacao-linha-4 {
		font-size: 2rem;
	}
	.educacao-linha-2,
	.educacao-linha-5 {
		font-size: 2.5rem;
	}
	.educacao-right {
		width: 100%;
		height: 100vw;
	}

	/* FOOTER */
	.footer {
		font-size: 1.5rem;
		height: auto;
		flex-direction: row;
		padding: 20px 10px;
	}
}

/* Maximum Width: 480px;
   ========================================================================== */
@media only screen and (max-width: 480px) {
	/* CONTEÚDO */
	.top-area-texto h1 {
		font-size: 1.5rem;
	}
	.top-area-texto p {
		font-size: 1.4rem;
		line-height: 1.5rem;
		margin-top: 1.5rem;
	}
	.text-block h2 {
		font-size: 2rem;
		line-height: 4rem;
	}
	.video-area {
		width: 90%;
	}
	a.mais-videos {
		font-size: 1.75rem;
	}
	a.mais-videos div img {
		width: 100px;
		height: 25px;
		margin-left: 1rem;
	}
	.contato-chamada {
		font-size: 2rem;
	}
	.form-container {
		padding: 20px 0;
	}
	.contato {
		padding: 20px 10px;
	}
	fieldset {
		padding: 20px 10px;
	}
	.checkboxArea label {
		font-size: 1rem;
	}
	button {
		font-size: 1.25rem;
		margin-top: 20px;
		padding: 20px;
	}
	.top-area-foto {
		flex: 1 1 20%;
	}
	.top-area-texto {
		flex: 1 1 80%;
	}
	.apresentacao-foto {
		flex: 1 1 40%;
	}
	.apresentacao-texto {
		flex: 1 1 60%;
		padding-right: 4vw;
	}
	.escola-top-foto {
		flex: 1 1 35%;
	}
	.escola-top-texto {
		flex: 1 1 65%;
		background-color: rgba(0, 0, 0, 0.7);
		padding: 2vw 4vw 2vw 2vw;
	}
	.educacao-linha-1,
	.educacao-linha-3,
	.educacao-linha-4 {
		font-size: 1.5rem;
	}
	.educacao-linha-2,
	.educacao-linha-5 {
		font-size: 2rem;
	}
	.educacao-right img {
		width: 100vw;
		height: 100vw;
		align-self: center;
	}

	/* FOOTER */
	.footer {
		height: auto;
		flex-direction: column;
		padding: 20px;
	}
	.footer-2 {
		display: none;
	}
	.footer-3 {
		margin-top: 10px;
	}
}
