.clientes
	width: 100%
	padding: 40px 0

.logos-clientes
	width: 100%
	height: auto
	display: grid
	grid-template-columns: repeat(6, 1fr)
	grid-template-rows: repeat(3, 1fr)
	grid-gap: 40px 0
	background-color: #ffffff
	clear: both
	padding: 40px 100px

.logo-cliente
	width: 100%
	height: auto
	display: flex
	justify-content: center
	align-items: center

	img
		width: 80%
		height: auto
		border: 1px solid #d4d4d4
		margin: 0
		padding: 0
