.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  color: #202020;
  text-align: center;
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #202020;
  text-align: center;
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
/* Extra large devices (large laptops and desktops, 1200px and down) */
/* Large devices (laptops/desktops, 992px and down) */
/* Medium devices (landscape tablets, 768px and down) */
/* Small devices (portrait tablets and large phones, 600px and down) */
/* Extra small devices (phones, 360px and down) */
.f-tw {
  font-family: "Titillium Web", sans-serif !important;
}

.fw-3 {
  font-weight: 300 !important;
}

.fw-4 {
  font-weight: 400 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.c-w {
  color: #fff !important;
}

.c-b {
  color: #000 !important;
}

.c-y {
  color: hsl(45, 100%, 55%) !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-12 {
  line-height: 1.2 !important;
}

.lh-15 {
  line-height: 1.5 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.m-auto {
  margin: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.m-60 {
  margin: 60px !important;
}

.m-70 {
  margin: 70px !important;
}

.m-80 {
  margin: 80px !important;
}

.m-90 {
  margin: 90px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-50 {
  padding: 50px !important;
}

.p-60 {
  padding: 60px !important;
}

.p-70 {
  padding: 70px !important;
}

.p-80 {
  padding: 80px !important;
}

.p-90 {
  padding: 90px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.w-100 {
  width: 100px !important;
}

.w-200 {
  width: 200px !important;
}

.w-300 {
  width: 300px !important;
}

.w-400 {
  width: 400px !important;
}

.w-500 {
  width: 500px !important;
}

.w-100-p {
  width: 100% !important;
}

.w-100-v {
  width: 100vw !important;
}

.ta-l {
  text-align: left !important;
}

.ta-c {
  text-align: center !important;
}

.ta-r {
  text-align: right !important;
}

.ta-j {
  text-align: justify !important;
}

.va-t {
  vertical-align: top !important;
}

.va-m {
  vertical-align: middle !important;
}

.va-b {
  vertical-align: bottom !important;
}

.o-0 {
  opacity: 0 !important;
}

.o-01 {
  opacity: 0.1 !important;
}

.o-02 {
  opacity: 0.2 !important;
}

.o-03 {
  opacity: 0.3 !important;
}

.o-04 {
  opacity: 0.4 !important;
}

.o-05 {
  opacity: 0.5 !important;
}

.o-06 {
  opacity: 0.6 !important;
}

.o-07 {
  opacity: 0.7 !important;
}

.o-08 {
  opacity: 0.8 !important;
}

.o-09 {
  opacity: 0.9 !important;
}

.o-1 {
  opacity: 1 !important;
}

.d-b {
  display: block !important;
}

.d-f {
  display: flex !important;
}

.d-g {
  display: grid !important;
}

.d-ib {
  display: inline-block !important;
}

.d-i {
  display: inline !important;
}

.d-n {
  display: none !important;
}

.link--basic {
  color: #FF5445;
  text-decoration: none;
}
.link--basic:hover, .link--basic:focus {
  color: #BC2200;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
.link--basic:link, .link--basic:visited, .link--basic:active {
  color: #8E40B7;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}

.link--menu {
  position: relative;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #000;
  font-size: 1.1vw;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu-item {
  position: relative;
  overflow: hidden;
}
.header__menu-item a {
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}
.header__menu-item a::before {
  position: absolute;
  top: 100%;
  color: #BC2200;
  content: attr(title);
  transform: translate3d(0, 0, 0);
}
.header__menu-item:hover, .header__menu-item:focus {
  outline: none;
}
.header__menu-item:hover a, .header__menu-item:focus a {
  transform: translateY(-100%);
}

.link--button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.1vw;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #000;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.link--button:hover, .link--button:focus {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
.link--button:visited, .link--button:active {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .link--button {
    font-size: 5vw;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.button--white {
  display: inline-block;
  width: 100%;
  max-width: 360px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 1.75vw;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .button--white {
    font-size: 5vw;
  }
}
.button--white:hover, .button--white:focus {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.button--black {
  display: inline-block;
  width: 100%;
  height: auto;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 12px 20px;
  font-size: 1.4vw;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 500;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .button--black {
    font-size: 5vw;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
  }
}
.button--black:hover, .button--black:focus {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

mark {
  background: transparent;
  position: relative;
  font-weight: 500;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  color: #000;
}
mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: hsl(45, 100%, 55%);
  z-index: -1;
}
mark.iniciar-animacao {
  animation: destacarTextoAnim 0.7s ease-out 1 forwards;
}
mark.iniciar-animacao::before {
  animation: destacarAnim 0.7s ease-out 1 forwards;
}

@keyframes destacarAnim {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes destacarTextoAnim {
  0% {
    color: hsl(45, 100%, 55%);
  }
  100% {
    color: #000;
  }
}
.branding__seja-o-seu {
  font-family: "Ubuntu Bold", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 5vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .branding__seja-o-seu {
    font-size: 12vw;
  }
}
.branding__case {
  font-family: "Ubuntu Bold", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 8.5vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .branding__case {
    font-size: 20vw;
  }
}
.branding__logo {
  width: 20%;
  height: auto;
}
.branding__logo img {
  width: 100%;
  height: auto;
}
.branding__logo--mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .branding__logo--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80px;
    height: auto;
  }
  .branding__logo--mobile img {
    width: 100%;
    height: auto;
  }
}
.branding__logo--footer {
  width: 32%;
  margin: 40px auto;
}
@media only screen and (max-width: 600px) {
  .branding__logo--footer {
    width: 100%;
    margin: 0;
  }
}

.footer {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .footer {
    padding: 40px 5%;
    background-color: #F7D55D;
  }
}
.footer__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
@media only screen and (max-width: 600px) {
  .footer__menu {
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    order: 3;
  }
}
.footer__menu-item {
  margin: 0 10px;
  font-size: 1vw;
}
@media only screen and (max-width: 600px) {
  .footer__menu-item {
    font-size: 5vw;
    margin-bottom: 20px;
  }
  .footer__menu-item:last-child {
    margin-bottom: 0;
  }
}
.footer__menu-link {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.footer__menu-link:hover {
  color: #000;
  border-bottom: 4px solid #000;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .footer__social {
    order: 2;
    margin-bottom: 60px;
  }
}
.footer__social-link {
  width: 36px;
  height: 36px;
}
.footer__social-link:first-child {
  margin-right: 40px;
}
.footer__copyright {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin: 80px auto 0 auto;
  border-top: 1px solid #000;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .footer__copyright {
    order: 4;
  }
}

@media only screen and (max-width: 600px) {
  .branding__logo--footer {
    order: 1;
    margin-bottom: 20px;
  }
}

.nav {
  width: 100%;
  height: 100px;
}

.header--mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header--mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80px;
    padding: 0 2vw;
  }
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color 0.2s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
}
.header--scrolled {
  background-color: #d1cdc2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.header__logo {
  width: 20%;
  height: auto;
}
.header__logo img {
  width: 100%;
  height: auto;
}
.header__logo--mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header__logo--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80px;
    height: auto;
  }
  .header__logo--mobile img {
    width: 100%;
    height: auto;
  }
}
.header__nav {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.1vw;
  color: #000;
  text-transform: uppercase;
  padding: 0 3vw;
}
.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__menu-item {
  display: inline-block;
}
.header__button {
  width: 15%;
  height: 50px;
}
.header__button--mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header__button--mobile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 60px;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.menu-icon {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}
.menu-icon span {
  display: block;
  height: 3px;
  width: 25px;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-icon span:last-child {
  margin-bottom: 0;
}

.mobile-menu {
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99;
  transition: top 0.3s ease-in-out;
}
.mobile-menu ul {
  list-style: none;
  padding-top: 100px;
}
.mobile-menu ul li {
  padding: 20px;
  border-bottom: 1px solid #fff;
}
.mobile-menu ul li:hover, .mobile-menu ul li:focus {
  background-color: #fff;
  text-decoration: none;
}
.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
}
.mobile-menu ul li a:hover, .mobile-menu ul li a:focus {
  color: #000;
  text-decoration: none;
}

.icon-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.icon-active span:nth-child(2) {
  opacity: 0;
}

.icon-active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu-active {
  top: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Ubuntu Regular", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 12px 0;
  padding: 0;
  font-weight: 300;
}

.p--destacado {
  font-size: 1.5rem;
  font-weight: 400;
  color: #202020;
  margin-bottom: 20px;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/bg-capa.jpg");
  background-size: cover;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .hero {
    background-image: url("../images/bg-capa-mobile.jpg");
    height: auto;
    overflow: auto;
  }
}
.hero__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .hero__content {
    justify-content: flex-start;
    flex-direction: column;
  }
}
.hero__content-left {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .hero__content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    order: 2;
  }
}
.hero__content-left img {
  width: auto;
  height: 90%;
  margin: 0;
  padding: 0;
  margin-right: -100px;
}
@media only screen and (max-width: 600px) {
  .hero__content-left img {
    width: 80%;
    height: auto;
    margin: 0;
  }
}
.hero__content-right {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10vw;
}
@media only screen and (max-width: 600px) {
  .hero__content-right {
    padding-right: 0;
    order: 1;
  }
}
.hero__content-right-title {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5vw;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .hero__content-right-title {
    font-size: 8vw;
    margin-top: 10px;
  }
}
.hero__content-right-subtitle {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .hero__content-right-subtitle {
    font-size: 5vw;
    margin-top: 10px;
  }
}
.hero__content-right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.hero__content-right-button:hover, .hero__content-right-button:focus {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .hero__content-right-button {
    font-size: 5vw;
    height: 40px;
    margin-top: 10px;
  }
}
.hero__content-right-text {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-top: 20px;
}
@media only screen and (max-width: 600px) {
  .hero__content-right-text {
    font-size: 5vw;
    margin-top: 10px;
  }
}
.hero__text {
  font-family: "Ubuntu", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .hero__text {
    font-size: 5vw;
    margin-top: 20px;
  }
}
.hero__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.hero__video:hover, .hero__video:focus {
  opacity: 0.75;
  cursor: pointer;
}
.hero__video-icon {
  width: auto;
  height: 50px;
  margin-right: 20px;
}
.hero__video-icon img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .hero__video-icon {
    height: 40px;
    margin-right: 15px;
  }
}
.hero__video-text {
  font-size: 1.25vw;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .hero__video-text {
    font-size: 5vw;
  }
}

.text {
  width: 100vw;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 60px 0;
  margin: 0 auto;
}
.text__block {
  width: 100%;
  height: auto;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text__line {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5vw;
}
.text__line:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 600px) {
  .text__line {
    max-width: 90%;
    font-size: 5vw;
    text-align: center;
  }
}

.problem {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 0;
  color: #fff;
}
.problem__problem {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10%;
  background-color: #21639B;
  font-weight: 200;
  font-size: 1.6vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .problem__problem {
    font-size: 6vw;
  }
}
.problem__solution {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10%;
  background-color: #173F5F;
  font-weight: 500;
  font-size: 1.75vw;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .problem__solution {
    font-size: 6vw;
  }
}

.presentation {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
  background-image: url("../images/bg-simpatico.jpg");
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 600px) {
  .presentation {
    background-image: unset;
  }
}
.presentation__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .presentation__content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.presentation__content-left {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .presentation__content-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/bg-simpatico-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
}
.presentation__content-left img {
  width: 85%;
  height: auto;
}
.presentation__content-right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 80px 10vw 80px 0;
}
@media only screen and (max-width: 600px) {
  .presentation__content-right {
    width: 100%;
    padding: 40px 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.presentation__title {
  width: 100%;
  height: auto;
  color: #3BAAA0;
  font-weight: 700;
  font-size: 2.5vw;
}
@media only screen and (max-width: 600px) {
  .presentation__title {
    font-size: 7vw;
  }
}
.presentation__text {
  width: 100%;
  height: auto;
  color: #000;
  font-weight: 450;
  font-size: 1.1vw;
  line-height: 1.5;
}
@media only screen and (max-width: 600px) {
  .presentation__text {
    font-family: "Ubuntu", sans-serif;
    font-size: 5vw;
    font-weight: 300;
  }
}

.vertical-items {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 60px 10%;
  margin: 0;
  color: #000;
  background-color: #F7D55D;
}
@media only screen and (max-width: 600px) {
  .vertical-items {
    padding: 40px 5%;
    margin: 0 auto;
  }
}
.vertical-items__item {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
@media only screen and (max-width: 600px) {
  .vertical-items__item {
    flex-direction: column;
  }
}
.vertical-items__icon {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .vertical-items__icon {
    width: 100%;
    height: auto;
    margin: 40px auto;
  }
}
.vertical-items__icon img {
  width: 80%;
  height: auto;
}
.vertical-items__content {
  width: 70%;
  height: auto;
  margin-left: 40px;
}
@media only screen and (max-width: 600px) {
  .vertical-items__content {
    width: 100%;
    margin: 0 auto;
  }
}
.vertical-items__title {
  font-size: 1.75vw;
  font-weight: 600;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .vertical-items__title {
    font-family: "Ubuntu", sans-serif;
    font-size: 6vw;
  }
}
.vertical-items__text {
  font-size: 1.1vw;
  font-weight: 400;
  line-height: 1.5;
}
@media only screen and (max-width: 600px) {
  .vertical-items__text {
    font-family: "Ubuntu", sans-serif;
    font-size: 4vw;
  }
}
.vertical-items__highlight {
  color: #eb410d;
}

.mixed-text {
  width: 100vw;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 60px 10%;
  margin: 0 auto;
  color: #000;
  background-color: #fff;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .mixed-text {
    max-width: 90%;
    padding: 40px 0;
  }
}
.mixed-text__paragraph {
  font-size: 1.25vw;
  text-align: center;
  line-height: 1.5;
}
@media only screen and (max-width: 600px) {
  .mixed-text__paragraph {
    font-family: "Ubuntu", sans-serif;
    font-size: 5vw;
  }
}
.mixed-text__box {
  font-size: 1.5vw;
  font-weight: 600;
  border: 3px solid #000;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .mixed-text__box {
    font-family: "Ubuntu", sans-serif;
    font-size: 5vw;
  }
}
.mixed-text__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px 0;
}
.mixed-text__item {
  font-size: 1.5vw;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .mixed-text__item {
    font-family: "Ubuntu", sans-serif;
    font-size: 5vw;
  }
}
.mixed-text__letter {
  font-size: 2.5vw;
  background-color: hsl(45, 100%, 55%);
  padding: 10px 25px;
  margin-right: 3px;
}
@media only screen and (max-width: 600px) {
  .mixed-text__letter {
    font-family: "Ubuntu", sans-serif;
    font-size: 8vw;
    padding: 3px 15px;
  }
}
.mixed-text__image-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
@media only screen and (max-width: 600px) {
  .mixed-text__image-text-block {
    flex-direction: column;
  }
}
.mixed-text__image {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .mixed-text__image {
    width: 100%;
    max-width: 90%;
  }
}
.mixed-text__image img {
  width: 100%;
  height: auto;
}
.mixed-text__text-block {
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
}
.mixed-text__text-block p {
  text-align: left;
}
@media only screen and (max-width: 600px) {
  .mixed-text__text-block {
    width: 100%;
    max-width: 90%;
    padding: 0;
  }
  .mixed-text__text-block p {
    text-align: center;
  }
}

.three-blocks {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 60px 10%;
  margin: 0 auto;
  color: #fff;
  background-color: #3BAAA0;
}
@media only screen and (max-width: 600px) {
  .three-blocks {
    padding: 40px 5%;
    margin: 0 auto;
  }
}
.three-blocks__modules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 30px 0 0 0;
}
@media only screen and (max-width: 600px) {
  .three-blocks__modules {
    flex-direction: column;
  }
}
.three-blocks__module {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
  transition: all 0.3s ease;
  border-radius: 25px;
}
@media only screen and (max-width: 600px) {
  .three-blocks__module {
    width: 100%;
    height: auto;
    margin: 0 auto 30px auto;
  }
  .three-blocks__module:last-child {
    margin: 0 auto;
  }
}
.three-blocks__icon {
  margin: 0 0 20px 0;
}
@media only screen and (max-width: 600px) {
  .three-blocks__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.three-blocks__icon img {
  width: 100%;
  height: auto;
  max-height: 120px;
}
@media only screen and (max-width: 600px) {
  .three-blocks__icon img {
    width: auto;
    height: 150px;
    max-height: 150px;
  }
}
.three-blocks__title {
  font-size: 1.75vw;
  font-weight: 900;
  margin: 0 0 10px 0;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .three-blocks__title {
    font-size: 7vw;
  }
}
.three-blocks__text {
  font-size: 1.5vw;
  margin: 0;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .three-blocks__text {
    font-size: 5vw;
  }
}

.text-button {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 60px 10%;
  margin: 0 auto;
  color: #fff;
  background-color: #21639B;
}

.bg-image-text {
  width: 100vw;
  height: auto;
  min-height: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-image: url("../images/livro.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .bg-image-text {
    background-image: unset;
  }
}
.bg-image-text__image {
  display: none;
}
@media only screen and (max-width: 600px) {
  .bg-image-text__image {
    display: block;
    width: 100%;
    height: 125vw;
    background-image: url("../images/livro-mobile.jpg");
    background-size: cover;
    background-position: center;
  }
}
.bg-image-text__content {
  width: 50%;
  height: auto;
  margin-left: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 80px 10% 80px 5%;
}
@media only screen and (max-width: 600px) {
  .bg-image-text__content {
    width: 100%;
    margin: 0 auto;
    padding: 40px 5%;
    justify-content: center;
    align-items: center;
  }
}
.bg-image-text__paragraph {
  font-size: 1.25vw;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  .bg-image-text__paragraph {
    font-size: 5vw;
    text-align: center;
  }
}
.bg-image-text__paragraph:last-child {
  margin-bottom: 0;
}

.hello {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hello__left {
  width: 50%;
  height: auto;
  text-align: left;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.hello__left h1 {
  font-size: 3rem;
}
.hello__right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.hello__right img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #101010;
  color: #fff;
  padding: 60px 0;
}
.text-image__left {
  width: 50%;
  height: auto;
  text-align: left;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.text-image__left h1 {
  font-size: 1.5rem;
  color: #fff;
  text-align: left;
}
.text-image__right {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.text-image__right img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-image-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 80px;
  background-color: #202020;
  color: #fff;
}
.text-image-2__left {
  width: 60%;
  height: 100%;
  text-align: right;
  padding-left: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.text-image-2__left h1 {
  font-size: 3rem;
  text-align: left;
  color: #fff;
}
.text-image-2__left p {
  font-size: 1.5rem;
}
.text-image-2__right {
  width: 40%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.text-image-2__right img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: -70px;
}
.text-image-2__destaque {
  width: 100%;
  height: 50px;
  background-color: #ffd166;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #202020;
  text-transform: uppercase;
  margin-top: 40px;
  font-weight: 600;
  font-size: 1.25rem;
}

.image-text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 40px;
}
.image-text__left {
  width: 25%;
  height: auto;
}
.image-text__left img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: -70px;
}
.image-text__right {
  width: 75%;
  height: auto;
  text-align: left;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.image-text__right h1 {
  font-size: 3rem;
  text-align: left;
  color: #202020;
}
.image-text__right p {
  font-size: 1.5rem;
}

.image-text-2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 40px 0;
}
.image-text-2__left {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.image-text-2__left img {
  width: 65%;
  height: auto;
}
.image-text-2__right {
  width: 50%;
  height: auto;
  text-align: left;
  padding: 0 10% 0 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.image-text-2__right p {
  font-size: 1.1rem;
}

.conduta {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fbdb42;
}
.conduta h1 {
  color: #373737;
}
.conduta__modules {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}
.conduta__module {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.conduta__module img {
  width: 80%;
  height: auto;
}
.conduta__module h3 {
  text-align: center;
  margin-top: -30px;
  font-size: 1.1rem;
}/*# sourceMappingURL=estilo.css.map */