.roboto-flex-regular {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.roboto-condensed-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-regular {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
/* Extra large devices (large laptops and desktops, 1200px and down) */
/* Large devices (laptops/desktops, 992px and down) */
/* Medium devices (landscape tablets, 768px and down) */
/* Small devices (portrait tablets and large phones, 600px and down) */
/* Extra small devices (phones, 360px and down) */
.f-tw {
  font-family: "Titillium Web", sans-serif !important;
}

.fw-3 {
  font-weight: 300 !important;
}

.fw-4 {
  font-weight: 400 !important;
}

.fw-6 {
  font-weight: 600 !important;
}

.fw-7 {
  font-weight: 700 !important;
}

.c-w {
  color: hsl(0, 0%, 100%) !important;
}

.c-b {
  color: hsl(0, 0%, 0%) !important;
}

.c-y {
  color: hsl(45, 100%, 55%) !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-12 {
  line-height: 1.2 !important;
}

.lh-15 {
  line-height: 1.5 !important;
}

.lh-2 {
  line-height: 2 !important;
}

.m-auto {
  margin: auto !important;
}

.m-0 {
  margin: 0 !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-50 {
  margin: 50px !important;
}

.m-60 {
  margin: 60px !important;
}

.m-70 {
  margin: 70px !important;
}

.m-80 {
  margin: 80px !important;
}

.m-90 {
  margin: 90px !important;
}

.m-100 {
  margin: 100px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-50 {
  padding: 50px !important;
}

.p-60 {
  padding: 60px !important;
}

.p-70 {
  padding: 70px !important;
}

.p-80 {
  padding: 80px !important;
}

.p-90 {
  padding: 90px !important;
}

.p-100 {
  padding: 100px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.w-100 {
  width: 100px !important;
}

.w-200 {
  width: 200px !important;
}

.w-300 {
  width: 300px !important;
}

.w-400 {
  width: 400px !important;
}

.w-500 {
  width: 500px !important;
}

.w-100-p {
  width: 100% !important;
}

.w-100-v {
  width: 100vw !important;
}

.ta-l {
  text-align: left !important;
}

.ta-c {
  text-align: center !important;
}

.ta-r {
  text-align: right !important;
}

.ta-j {
  text-align: justify !important;
}

.va-t {
  vertical-align: top !important;
}

.va-m {
  vertical-align: middle !important;
}

.va-b {
  vertical-align: bottom !important;
}

.o-0 {
  opacity: 0 !important;
}

.o-01 {
  opacity: 0.1 !important;
}

.o-02 {
  opacity: 0.2 !important;
}

.o-03 {
  opacity: 0.3 !important;
}

.o-04 {
  opacity: 0.4 !important;
}

.o-05 {
  opacity: 0.5 !important;
}

.o-06 {
  opacity: 0.6 !important;
}

.o-07 {
  opacity: 0.7 !important;
}

.o-08 {
  opacity: 0.8 !important;
}

.o-09 {
  opacity: 0.9 !important;
}

.o-1 {
  opacity: 1 !important;
}

.d-b {
  display: block !important;
}

.d-f {
  display: flex !important;
}

.d-g {
  display: grid !important;
}

.d-ib {
  display: inline-block !important;
}

.d-i {
  display: inline !important;
}

.d-n {
  display: none !important;
}

.link--basic {
  color: #FF5445;
  text-decoration: none;
}
.link--basic:hover, .link--basic:focus {
  color: #BC2200;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
.link--basic:link, .link--basic:visited, .link--basic:active {
  color: #8E40B7;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}

.link--menu {
  position: relative;
  display: inline-block;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  color: #000;
  font-size: 1.1vw;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu-item {
  position: relative;
  overflow: hidden;
}
.header__menu-item a {
  transition: transform 0.5s ease;
  -webkit-transition: transform 0.5s ease;
}
.header__menu-item a::before {
  position: absolute;
  top: 100%;
  color: #BC2200;
  content: attr(title);
  transform: translate3d(0, 0, 0);
}
.header__menu-item:hover, .header__menu-item:focus {
  outline: none;
}
.header__menu-item:hover a, .header__menu-item:focus a {
  transform: translateY(-100%);
}

.link--button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.1vw;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid #000;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.link--button:hover, .link--button:focus {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}

.header--mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header--mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80px;
    padding: 0 2vw;
  }
}

.header {
  width: 100%;
  height: 6.25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}
@media only screen and (max-width: 600px) {
  .header {
    display: none;
  }
}
.header__logo {
  width: 20%;
  height: auto;
}
.header__logo img {
  width: 100%;
  height: auto;
}
.header__logo--mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .header__logo--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80px;
    height: auto;
  }
  .header__logo--mobile img {
    width: 100%;
    height: auto;
  }
}
.header__nav {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.1vw;
  color: #000;
  text-transform: uppercase;
  padding: 0 3vw;
}
.header__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__menu-item {
  display: inline-block;
}
.header__button {
  width: 15%;
  height: 50px;
}

.menu-icon {
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
}
.menu-icon span {
  display: block;
  height: 3px;
  width: 25px;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-icon span:last-child {
  margin-bottom: 0;
}

.mobile-menu {
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99;
  transition: top 0.3s ease-in-out;
}
.mobile-menu ul {
  list-style: none;
  padding-top: 100px;
}
.mobile-menu ul li {
  padding: 20px;
  border-bottom: 1px solid #fff;
}
.mobile-menu ul li:hover, .mobile-menu ul li:focus {
  background-color: #fff;
  text-decoration: none;
}
.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
}
.mobile-menu ul li a:hover, .mobile-menu ul li a:focus {
  color: #000;
  text-decoration: none;
}

.icon-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.icon-active span:nth-child(2) {
  opacity: 0;
}

.icon-active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu-active {
  top: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.hero {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../images/mm-capa.jpg");
  background-size: cover;
  overflow: hidden;
}
@media only screen and (max-width: 600px) {
  .hero {
    background-image: url("../images/mm-capa-mobile.jpg");
    background-position: bottom;
  }
}
.hero__content {
  width: 100%;
  height: 100%;
  padding: 0 10% 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__program1 {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 5vw;
  text-align: center;
}
.hero__program2 {
  font-family: "Roboto Slab", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 8.5vw;
  text-align: center;
}
.hero__text {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  text-align: center;
}
.hero__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.hero__video:hover, .hero__video:focus {
  opacity: 0.75;
  cursor: pointer;
}
.hero__video-icon {
  width: auto;
  height: 50px;
  margin-right: 20px;
}
.hero__video-icon img {
  width: 100%;
  height: auto;
}
.hero__video-text {
  font-size: 1.25vw;
  text-align: left;
}/*# sourceMappingURL=estilo.css.map */